// 块元素 样式！
.chunk {
    position: relative;
    // border-width: 1px;
    // border-color: rgb(100, 116, 211);
    // border-style: solid;
    // background-color: rgba(100, 116, 211, 0.402);
    background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    text-align: center;
    // margin-top: 10px;
    // box-shadow: 0 0 3.2vh 1.34vh #365f96b3 inset;
}

// 标题
.part_title {
    position: absolute;
    padding: 0 2%;
    height: 20px;
    color: #ffffff;
    background: #4472c4;
    top: 0;
    left: 0;
    min-width: 80px;
}

// 设备进度
.one_alert {
    height: 100%;
    width: 100%;
    padding: 25px 2% 3% 2%;
}

._table {
    width: 100%;
    height: 100%;
    position: relative;
    .table_head {
        border-width: 1px 1px 1px 1px;
        border-color: rgba(100, 183, 211, 1);
        border-style: solid;
        height: 15%;
        .table_head_th {
            width: 100%;
            height: 100%;
            background-color: rgba(100, 116, 211, 0.402);
            display: flex;
            .table_head_tr {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                /*设置不换行*/
                white-space: nowrap;
                /*设置隐藏*/
                overflow: hidden;
                /*设置隐藏部分为省略号*/
                text-overflow: ellipsis;
            }
        }
    }
    .table_body {
        position: absolute;
        height: 85%;
        width: 100%;
        overflow-x: auto;
        border-width: 0 1px 1px 1px;
        border-color: rgba(100, 183, 211, 1);
        border-style: solid;
        .table_body_th {
            height: 10%;
            width: 100%;
            display: flex;
            .table_body_tr {
                display: flex;
                justify-content: center;
                align-items: center;
                /*设置不换行*/
                white-space: nowrap;
                overflow: revert;
                /*设置隐藏部分为省略号*/
                // text-overflow: ellipsis;
            }
        }
    }
}

.quantity {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    .font {
        width: 35%;
        color: wheat;
        height: 100%;
        font-size: 3vh;
        line-height: 3vh;
        display: flex;
        align-items: center;
    }
    .quantity_number {
        width: 50%;
        height: 60%;
        font-size: 3vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5%;
        background: #7dc1e8;
        box-shadow: -1px -1px #6aa4c5, 3px 3px #90deff;
    }
}

nz-progress {
    width: 100px;
}

.table_body::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.table_body::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

.table_body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #888888;
}