#rtmv2 {
    // 1920*1080
    // background: url('/assets/pages/device-inline/images/one/bei-jin.jpg') ;
    background-color: #003E61;
    // 头部
    .head {
        position: relative;
        height: 50px;
        margin-bottom: 15px;
        img {
            width: 100%;
            height: 100%;
        }
        h4 {
            position: absolute;
            top: 9px;
            left: 42%;
            color: #f6f6f9;
        }
    }
}

// icon
nb-icon {
    background: rgba(22, 67, 127, 1);
    cursor: pointer;
    width: 53px;
    height: 53px;
}

.row_buttom {
    // min-height: 11%;
    height: 5%;
    background: url('assets/pages/device-inline/images/one/onebj_buttom2.jpg') no-repeat;
    background-size: 100% 100%;
    // background-position-y: 29%;
    image-rendering: pixelated;
    margin: 0;
}

// .row_buttom::before {
//     content: "";
//     display: flex;
//     padding-bottom: 10%;
//     img {
//         position: absolute;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         width: 100%;
//         height: 100%;
//     }
// }