<!-- <div id="rtmv2"  style="padding-bottom: 5px;">

    <div class="row " style="margin: 0px -11px;">
        <div class="col-md-11 head" style="padding: 0 11px;">
            <h4>吉利智慧试验室项目看板</h4>
            <img src="assets/eimdoard/equipment/images/title.png" alt="header">
        </div>
        <div class="col-md-1" style="text-align: right; padding-left: 0px;">
            <nb-icon [icon]="is_not_fullscreen ? 'expand-outline' : 'collapse-outline'" [status]="is_not_fullscreen ? 'warning' : 'info'" (click)="showAllTemplate()"></nb-icon>
        </div>
    </div> -->



<!-- 主题 -->
<router-outlet></router-outlet>

<!-- 底部图 -->
<div class="row row_buttom" style="padding: 0 15px;">
    <img src="assets/pages/device-inline/images/one/onebj_buttom.jpg" alt="header">
</div>

<!-- </div> -->