<nb-card style="width: 1600px; height: 680px;">
    <nb-card-header>
        <div class="row">
          <div class="col-md-4">待处理试验编号</div>
            <div class="col-md-6" style="display: flex;">
                <div style="flex: auto;">
                </div>

                
            
            </div>
            <div class="col-md-2" style="text-align: right;">
                <!-- 刷新 -->
                <div class="" style="display: contents;">
                    <nb-icon icon="close-outline" icon="sync-outline" (click)="refresh()" style="margin-bottom: 10px; margin-right: 20px;"></nb-icon>
                </div>
                <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon>
            </div>
        </div>
    </nb-card-header>


    <nb-card-body>

        <div class="row" style="margin: 0px;padding: 0px;">
            <!-- 未处理的 -->
            <div class="col-md-5" style="margin: 0px;padding: 0px;">
                <div class="lists">
                    <div class="row list-item" >
                        <div class="col-md-12"  style="text-align: center; background: cornflowerblue;">未处理的试验</div>
                    </div>

                    <div class="row list-item" >
                        <div class="col-md-3">
                            试验名称
                        </div>
                        <div class="col-md-4">
                            科室
                        </div>
                        <div class="col-md-3">
                            试验编号
                        </div>
                        <div class="col-md-1">

                        </div>
                    </div>
                    <div class="row list-item" *ngFor="let message of messages" style="white-space: nowrap;margin-left: 0px;">
                        <div class="col-md-3 list-item3_1">
                            {{message["devicetaskname"]}}
                        </div>
                        <div class="col-md-4 list-item3">
                            {{message["groups"]}}
                        </div>
                        <div class="col-md-3 list-item3">
                            {{message["tasknum"]}}
                        </div>
                        <div class="col-md-1">
                            <button nbButton size="small" (click)="handle(message)">处理</button>

                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- 已处理的 -->
            <div class="col-md-7" style="margin: 0px;padding: 0px;">
                <div class="row list-item" >
                    <div class="col-md-12" style="text-align: center;background: lavender;">已处理的试验</div>
                </div>

                <div class="row list-item">
                    <div class="col-md-3">
                        试验名称
                    </div>
                    <div class="col-md-3">
                        科室
                    </div>
                    <div class="col-md-3">
                        试验编号
                    </div>
                    <div class="col-md-1">
                    </div>
                    
                </div>
                <div class="row list-item" *ngFor="let message of nmessages" style="white-space: nowrap;height: 41px;">

                    <div class="col-md-3 list-item3">
                        {{message["devicetaskname"]}}
                    </div>
                    <div class="col-md-4 list-item3">
                        {{message["groups"]}}
                    </div>
                    <div class="col-md-3 list-item3">
                        {{message["tasknum"]}}
                    </div>
                    <div class="col-md-1">
                        <button nbButton size="small" (click)="edit(message)">编辑</button>
                    </div>
                </div>
            </div>
        </div>

        

        

    </nb-card-body>
    <!-- button 取消、确定 -->
    <!-- <nb-card-footer>
        <div class="layui-form-item">
            <div class="layui-row" style="text-align: end;">
                <div class="layui-inline">
                <div class="layui-input-inline">
                </div>
                </div>
                <div class="layui-inline">
                <div class="layui-input-inline">
                    <button class="layui-btn layui-btn-primary" (click)="cancel()">取消</button>
                    <button type="submit" class="submit_confirm layui-btn" lay-submit="" lay-filter="confirm" >确定</button>
                </div>
                </div>
            </div>
        </div>
    </nb-card-footer> -->
</nb-card>