

<div class="row" style="margin: 0 -11px;">
    <div class="col-lg-9" style="display: flex;">
        <!-- 设备信息 hover-->
        <div class="example-items-rows " *ngIf="type !== 'department'">
            <button nbButton size="tiny" nbPopoverTrigger="click" [nbPopover]="templateRef" status="info" *ngIf="kpi_for_detail"> {{button_title}} </button>
        </div>
        <ng-template #templateRef >
            <div class="row" style="margin: 10px 0px 0px 0px; min-width: 250px;">
                <div class="col-md-5" style="padding-right: 0px;font-size: small;font-weight:800;">设备名称:</div>
                <div class="col-md-7" style="font-size: small;padding:0px;">{{kpi_for_detail.devicename}}</div>
            </div>
            <div class="row" style="margin: 0px 0px 10px 0px;min-width: 250px;">
                <div class="col-md-5" style="padding-right: 0px;font-size: small;font-weight:800;">科室/功能组:</div>
                <div class="col-md-7" style="font-size: small;padding:0px;">{{kpi_for_detail.groups}}</div>
            </div>
            
            <!-- <span >{{tootip_kpi_for_detail}}</span> -->
        </ng-template>
    </div>
    <div class="col-lg-3"  style="text-align: end;padding-bottom: 10px;display: flex;">
        <div style="flex: auto;">
        </div>

        <!-- 下拉选择年份 -->
        <div class="example-items-rows" style="width: 103px !important; margin-right: 10px;">
            <ngx-year #myYear (select_year)="select_year($event)"></ngx-year>
            <!-- <button nbButton size="tiny" status="success" (click)="kpireport()"> 设备/工时报表 </button> -->
        </div>

        <div class="example-items-rows " >
            <button nbButton size="tiny" status="success" (click)="kpireport()"> {{button_name}} </button>
        </div>
    </div>
</div>


<!-- 设备数据汇总、功能数据汇总、部门数据汇总 kpi详情 3*3 -->
<!-- <div class="row" style="margin: 0 -11px;" *ngFor='let row of mothed_table_url.device.cards; let row_index = index;'> -->
<div class="row" style="margin: 0 -11px;" *ngFor='let row of mothed_table_url_card; let row_index = index;'>
    <div class="col-md-4 myechart" *ngFor='let col of row; let col_index = index'>
        <nb-card accent='info' style="position: relative;">
            <nb-card-header style="position: absolute;border-bottom: 0px solid #edf1f7;z-index: 1;">{{col.title}}</nb-card-header>
            <nb-card-body class="mychart_body" style="width: 100%;    padding-top: 20px;">
                <div id="kpi_{{row_index}}{{col_index}}" ></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

