<div class="row">
    

    <div class="col-lg-9" style="display: flex;">
        <!-- 设备信息！ -->
        <div class="example-items-rows " >
            <button nbButton size="tiny" nbPopoverTrigger="click" [nbPopover]="templateRef" status="info" *ngIf="kpi_for_detail"> {{kpi_for_detail.devicename}} </button>
        </div>
        <ng-template #templateRef >
            <div class="row" style="margin: 10px 0px 0px 0px; min-width: 250px;">
                <div class="col-md-5" style="padding-right: 0px;font-size: small;font-weight:800;">设备名称:</div>
                <div class="col-md-7" style="font-size: small;padding:0px;">{{kpi_for_detail.devicename}}</div>
            </div>
            <div class="row" style="margin: 0px 0px 10px 0px;min-width: 250px;">
                <div class="col-md-5" style="padding-right: 0px;font-size: small;font-weight:800;">科室/功能组:</div>
                <div class="col-md-7" style="font-size: small;padding:0px;">{{kpi_for_detail.group}}</div>
            </div>
            
            <!-- <span >{{tootip_kpi_for_detail}}</span> -->
        </ng-template>

    </div>

    <div class="col-lg-3" style="text-align: end;padding-bottom: 10px;display: flex;">
        <div style="flex: auto;">
        </div>

        <div class="example-items-rows " >
            <button nbButton size="tiny" status="success" (click)="kpireport()"> 工时报表 </button>        
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6 myechart">
        <nb-card accent="info">
            <nb-card-header>设备时间统计(小时)</nb-card-header>
            <nb-card-body class="mychart_body">
                <div class="left-one"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6 myechart">
        <nb-card accent="info">
            <nb-card-header>运行/停止/故障/非占位(百分比)</nb-card-header>
            <nb-card-body class="mychart_body">
                <div class="right-one"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row" >
    <div class="col-md-6 myechart">
        <nb-card class="card_two" accent="info">
            <nb-card-header>月份运行时间(小时)</nb-card-header>
            <nb-card-body class="mychart_body">
                <div class="left-two"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6 myechart">
        <nb-card class="card_two" accent="info">
            <nb-card-header>年份运行时间(小时)</nb-card-header>
            <nb-card-body class="mychart_body">
                <div class="right-two"></div>
            </nb-card-body>
        </nb-card>
    </div>
</div>