<div class="row" style="margin: 0px -11px;">

    <div class="col-lg-9" style="display: flex;">
        <!-- 部门信息 -->
        <div class="example-items-rows button_item">
            <ngx-my-select-group #departmentselect [selectdatas]="departments"></ngx-my-select-group>
        </div>
        <!-- 设备类型 -->
        <div class="example-items-rows button_item">
            <ngx-my-select #device_tpye [selectdatas]="devicetpye"></ngx-my-select>
        </div>
        <!-- 边缘网关 -->
        <div class="example-items-rows button_item">
            <ngx-my-select #asset_number [selectdatas]="assetsnumber"></ngx-my-select>
        </div>
        <!-- 搜索 -->
        <div class="example-items-rows button_item query" *ngIf="button?.query">
            <button nbButton [status]="button?.query.class" size="small" (click)="action(button?.query.permission)"  [disabled]="button?.query.active == 0? true:false"><nb-icon [icon]="button?.query.icon"></nb-icon>{{button?.query.title}}</button>
        </div>

        <!-- 添加 -->
        <div class="example-items-rows button_item add" *ngIf="button?.add">
            <button nbButton [status]="button?.add.class" size="small" (click)="action(button?.add.permission)"  [disabled]="button?.add.active == 0? true:false"><nb-icon [icon]="button?.add.icon"></nb-icon>{{button?.add.title}}</button>
        </div>
        
    </div>

    <div class="col-lg-3" style="display: flex;">
        <div style="flex: auto;">
        </div>
        <!-- 导出、重置 -->

        <!-- 导出 -->
        <div class=" button_item download" *ngIf="button?.download">
            <button nbButton [status]="button?.download.class" size="small" (click)="action(button?.download.permission)"  [disabled]="button?.download.active == 0? true:false"><nb-icon [icon]="button?.download.icon"></nb-icon>{{button?.download.title}}</button>
        </div>

        <!-- 重置table -->
        <div class="" style="text-align: right;">
            <!-- loader-outline -->
            <button nbButton [nbSpinner]="refresh" nbSpinnerStatus="success" size="small" (click)="refresh_table()">
                <nb-icon icon="sync-outline"></nb-icon>
            </button>
        </div>

    </div>
    
</div>

<div class="row"  style="margin-top: 20px;">
    <div class="col-md-12">
        <nb-card>
            <nb-card-body [nbSpinner]="loading" nbSpinnerStatus="info">
                <ngx-ag-table #ag_Grid   (nzpageindexchange)="nzpageindexchange_ag($event)" (clickrow)="clickrow($event)"></ngx-ag-table>
                <!-- <ngx-my-table-ng2 #mytable  [datas]="border_gateway_table_data"></ngx-my-table-ng2> -->
            </nb-card-body>
        </nb-card>
    </div>
</div>
