
<div class="row">
    <div class="col-md-3"  style="height: 130px">
        <nb-card accent="success"  style="height: 130px">
            <nb-card-header >总数量</nb-card-header>
            <nb-card-body style="text-align: center"><span class="h4 value" style="color: green">{{statusstat.total}}</span></nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3"  style="height: 130px">
        <nb-card accent="primary" style="height: 130px">
            <nb-card-header>在线数量</nb-card-header>
            <nb-card-body style="text-align: center"><span class="h4 value" style="color: blue">{{statusstat.online}}</span></nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3"  style="height: 130px">
        <nb-card accent="danger"  style="height: 130px">
            <nb-card-header>离线数量</nb-card-header>
            <nb-card-body style="text-align: center"><span class="h4 value" style="color: red">{{statusstat.offline}}</span></nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3" style="height: 130px">
        <nb-card accent="primary" style="height: 130px">
            <nb-card-header>更新时间</nb-card-header>
            <nb-card-body style="text-align: center"><span class="h4 value" style="color: blue">{{statusstat.updatetime}}</span></nb-card-body>
        </nb-card>
    </div>
</div>


<div class="row" style="margin-top: 10px">
  <div class="col-md-12">
    <ngx-ag-table #gridtable></ngx-ag-table>
  </div>
</div>
