<div style="height: 100%;width: 100%;display: flex;flex-wrap: wrap;">
    <div class="part_title">{{'equipment.LogWarm' | translate}}</div>
    <div class="h_46_w_30">
        <div style="width: 100%;">{{'equipment.LV3Warm'|translate}}</div>
        <!-- <div style="width: 100%;">{{getwarm() | translate}}</div> -->
        <!-- <div id="circular" [ngStyle]="{'color':getwarmStr() == 3?'red':getwarmStr()==2?'':'yellow'}"></div> -->
        <div id="circular" [ngStyle]="{'color':getwarmStr() == 3?'red':''}"></div>
    </div>
    <div class="h_40_w_70" [ngStyle]="{'height': getWin_H()}" id="warning"></div>
    <div class="_table height_50">
        <div class="table_bo height_30" style="height: 26%;">
            <table>
                <tr class="header">
                    <td class="center_center" *ngFor="let title of log_warm.title;let i =index" [ngStyle]="{'width':i == 0?'20%':i == 1?'20%':'60%'}">
                        {{"equipment."+title | translate}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="table_bo overflow_height_75" style="position: relative;">
            <table style="position: absolute;width: 40%;">
                <tr *ngFor="let items of log_warm.data;let j = index" class="body" style="height: 12px;" [ngStyle]="{'color':items[3] == 1?'red':items[3]==3?'':'yellow'}">
                    <td style="padding: 0%;height: 20%;width: 50%" *ngFor="let item of items;let i = index">
                        <div class="font_w_too_long" *ngIf="i == 0;else logTemp">{{item | date:'yyyy-MM-dd'}}</div>
                        <ng-template #logTemp>
                            <div class="font_w_too_long" title="{{item}}" style="width: 100%;max-width: 249px;" *ngIf="i == 1;else nullTemp">{{item}}</div>
                            <ng-template #nullTemp></ng-template>
                        </ng-template>
                    </td>
                </tr>
            </table>
            <div class="scrollbar">
                <table>
                    <tr *ngFor="let items of log_warm.data;let i = index" class="body" style="height: 12px;" [ngStyle]="{'color':items[3] == 3?'red':items[3]==2?'':'yellow'}">
                        <td style="padding: 0%;height: 20%;width:60%;max-width: 400px;">
                            <div class="font_w_too_long_1" title="{{items[2]}}" style="width: 100%;">{{items[2]}}</div>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>