#maha{
    height: 100%;
    width: 100%;
    .backgroud {
        width: 100%;
        position: relative;
        // display: flex;
        background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        padding: 20px 4% 2% 4%;
        margin-bottom: 20px;
    }
    .part_title {
        position: absolute;
        // width: 100px;
        padding: 0% 6%;
        height: 20px;
        background: #4472c4;
        top: 0;
        left: 0;
        min-width: 80px;
        z-index: 1;
    }
    
    .center_img {
        // height: 100;
        height: 33%;
        position: relative;
        margin-top: 20px;
        margin-bottom: 20px;
        background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
        #img {
            height: 100%;
            width: 100%;
            // background: url('/assets/eimdoard/equipment/images/car_2.png');
            background-size: cover;
            -webkit-background-size: cover;
            -o-background-size: cover;
            background-position: center center;
        }
    }
    .cang{
        width: 100%;
        height: 100%;
        position: relative;
        #cang_chart_1{
            position: absolute;
            top: 50%;
            height: 50%;
            width: 100%;
        }
        .cang_top{
            position: absolute;
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #cang_pie_5,#cang_pie_6{
                width: 30%;
                height: 100%;
            }
            .cang_1_set{
                width: 35%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                .set_1 {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                }
                .span_css {
                    padding: 2px;
                    background: rgb(99, 133, 195);
                    width: 70px;
                    text-align: center;
                }
            }
        }
    }
    .lay{
        position: relative;
        width: 100%;
        height: 100%;
        .one{
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .c_c {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }
    .left_front,.rightfront,.rear_left,.rear_right{
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-weight: bold;
        .title{
            display: flex;
            width: 100%;
        }
        .value{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        span{
            min-width: 100px;
            background: rgb(99, 133, 195);
        }
    }
}