

<nb-card>
    <nb-card-body>

        <!-- <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-10"></div>
            <div class="col-md-1">
                <button nbButton size="small" status="basicbasic" (click)="kpireport()"> kpi报表 </button>
            </div>
            <div class="col-md-1">
                <button nbButton size="small" status="info" (click)="kpidetail()"> kpi详情 </button>
            </div>
        </div> -->
        <router-outlet></router-outlet>
    </nb-card-body>
</nb-card>

