#laboratory {
    width: 100%;
    height: 100%;
    // width: 1794px;
    min-height: 900px;
    .head {
        height: 10%;
    }
    .body {
        height: 90%;
        width: 100%;
    }
    .title {
        color: rgb(141, 195, 239);
        font-size: 18px;
        font-weight: bold;
    }
    #appearance {
        background: url('/assets/eimdoard/rtm3/images/structure_2.png') no-repeat;
        width: 100%;
        height: 50%;
        background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-position: center;
        text-align: center;
    }
}

#appearance {
    background: url('/assets/eimdoard/rtm3/images/structure_2.png') no-repeat;
    width: 100%;
    height: 50%;
    background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-position: center;
    text-align: center;
}

.w_50 {
    width: 50%;
}

.w_100 {
    width: 100%;
}

#appearance {
    background: url('/assets/eimdoard/rtm3/images/structure_2.png') no-repeat;
    width: 100vw;
    height: 100%;
    min-height: 900px;
    background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-position: center;
    text-align: center;
    position: relative;
    div {
        position: absolute;
    }
}

.three {
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 30px solid #000;
}