<div id="motor">
    <div class="row" style="height: 100%;margin:0px;width: 100%;">
        <div class="col-md-4" style="height: 100%;padding: 0px 0px 0px 20px;">
            <div class="first_first" style="height: 41%;position: relative;">
                <ngx-equipment-status [device]='deviceid' style="display: flex;width: 100%;"></ngx-equipment-status>
            </div>
            <div class="first_second lattice_layout height_20">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='deviceid' style="width: 100%;"></ngx-test-information>

            </div>
            <div class="dis_f_w first_third lattice_layout height_35">
                <ngx-log-warm [device]='deviceid' style="display: flex;width: 100%;flex-wrap: wrap;"></ngx-log-warm>
            </div>
        </div>
        <div class="col-md-4" style="height: 100%;padding: 0px 20px;">
            <!-- <div class="sceond_fisrt height_29" style="position: relative;padding: 25px 2% 2% 2%;text-align: left;display: block;">
                <div class="part_title">{{ 'equipment.equipIntroduce'|translate}}</div>
                <div style="text-indent: 2rem;">
                    电机台架主要有测功机台架、电池模拟器、水冷系统、转速转矩传感器、功率分析仪、控制柜等组成。
                </div>
                <div style="text-indent: 2rem;">
                    主要测试电机控制器系统性能，可靠性测试，以及耐久测试，配备可移动式集成式环境舱。
                </div>
                <div style="text-indent: 2rem;width: 80%;display: flex;">
                    <span style="width: 50%;">最大功率315kW</span><span>最大扭矩859N·m</span> 
                </div>
                <div style="text-indent: 2rem;width: 80%;display: flex;">
                    <span style="width: 50%;">最高转速15000RPM</span><span>电池模拟器600V/1200A</span>
                </div>
                <div style="text-indent: 2rem;"> 
                   
GB/T 29307-2012-电动汽车用驱动电机系统可靠性试验方法
                </div>
                <div style="text-indent: 2rem;">
                </div>
            </div> -->
            <div class="sceond_fisrt height_29" style="position: relative;">
                <div class="part_title">{{ 'equipment.equipIntroduce'|translate}}</div>
                <ngx-equip-introduce style="width: 100%;" [name]="introd_name" [equipIntroduceList]="equipIntroduceList"></ngx-equip-introduce>
            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <div style="width: 100%;height: 100%;display: flex;
            align-items: center;
            justify-content: center;">
                    <!-- <img id="img" [src]="img.url" [alt]="img.name"> -->
                    <div id="img">
                        <ngx-pubvideo #pubvideo style="width: 100%;
                        height: 100%;"></ngx-pubvideo>
                    </div>
                </div>
            </div>
            <div class="sceond_third height_35" style="position: relative;">
                <div class="part_title">{{'equipment.experimentParams'|translate}}</div>
                <div class="circularD">
                    <div class="lay">
                        <div class="title">样件注入水温 </div>
                        <div id="coolingWater"></div>
                    </div>
                    <div class="lay">
                        <div class="title">{{ 'equipment.motor.AxleBoxTemp'|translate }}1</div>
                        <div id="AxleBoxTemperature1"></div>
                    </div>
                    <div class="lay">
                        <div class="title">{{ 'equipment.motor.AxleBoxTemp'|translate }}2</div>
                        <div id="AxleBoxTemperature2"></div>
                    </div>
                    <div id="circularD_chart" class="height_50" style="width: 100%;max-height: 140px;"></div>
                </div>

            </div>
        </div>
        <div class="col-md-4" style="height: 100%;padding: 0px 20px 0px 0px;">
            <div class="thrid" style="flex-wrap: wrap;padding-top: 20px;">
                <div class="part_title">{{'equipment.experimentParams'|translate}}</div>
                <div id="temperature"></div>
                <div id="humidity"></div>
                <div class="temphum">
                    <div style="width: 50%;">温度</div>
                    <div class="blue_b">{{temp}}℃</div>
                    <div style="width: 50%;">湿度</div>
                    <div class="blue_b">{{hum}}RH</div>
                </div>
                <div id="motor_chart"></div>
            </div>

            <div class="bo dis_f_w motor_p">
                <div class="part_title">{{ 'equipment.motor.MotorParam'|translate }}
                </div>
                <!-- <div class="height_20 display_f">
                    <img [src]="img.electric_url" style="width: 22%; margin: 4% 10px 10px 10%;">
                    <div style="width: 60%;    margin-top: 4%;">
                        <div class="height_50" style="display: flex;font-size: 12px;">
                            <div class="lay_electric">
                                <div>({{'equipment.motor.SystemEfficiency'|translate}})</div>
                                <div id="electric_1"></div>
                            </div>
                            <div class="lay_electric">
                                <div>({{'equipment.motor.ControllerEfficiency'|translate}})</div>
                                <div id="electric_2"></div>
                            </div>
                            <div class="lay_electric">
                                <div>({{'equipment.motor.MotorEfficiency'|translate}})</div>
                                <div id="electric_3"></div>
                            </div>
                        </div>
                        <div class="height_50" style="display: flex;justify-content: center;align-items: center;">
                            <div class="height_100" style="width: 40%;font-size: 12px;">
                                <div>({{ 'equipment.motor.ControllerOutputPower'|translate }})</div>
                                <div id="electric_4"></div>
                            </div>
                            <div class="height_100" style="width: 40%;font-size: 12px;">
                                <div>({{ 'equipment.motor.DCpower'|translate }})</div>
                                <div id="electric_5"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div id="dashboard" class="height_20" style="width: 48%;">
                </div>
                <div style="width: 40%;" class="c_c height_20">
                    <div style="width: 50%;">系统效率</div>
                    <div class="blue_b">{{motor?.cal_eff_sys ||0}}%</div>
                    <div style="width: 50%;">电机效率</div>
                    <div class="blue_b">{{motor?.cal_eff_mot||0}}%</div>
                    <div style="width: 50%;">控制器效率</div>
                    <div class="blue_b">{{motor?.cal_eff_inv||0}}%</div>
                </div>
                <div id="line_chart_12" class="height_23">
                </div>
                <div class="height_16 width_100 ">
                    <div class="height_50" style="display: flex;flex-wrap: wrap;justify-content: center;">
                        <div class="height_100 center_1" style="width: 30%;">
                            <div class="center" style="width: 40%;">
                                {{'equipment.motor.BusVoltage'|translate}}
                            </div>
                            <div class="height_80 width_50 bord center">{{ motor?.pa_udc1 ||0 }}V</div>
                        </div>
                        <div style="width: 3%;"></div>
                        <div class="height_100 center_1" style="width: 30%;">
                            <div class="center" style="width: 40%;">
                                {{'equipment.motor.BusCurrent'|translate}}
                            </div>
                            <div class="height_80 width_50 bord center">{{ motor?.pa_idc1 ||0 }}A</div>
                        </div>
                        <div style="width: 3%;"></div>

                        <div class="height_100 center_1" style="width: 30%;">
                            <div class="center" style="width: 40%;">
                                {{'equipment.motor.DCpower'|translate}}
                            </div>
                            <div class="height_80 width_50 bord center">{{ motor?.pa_p1||0 }}kW</div>
                        </div>
                    </div>
                    <div class="height_50" style="display: flex;flex-wrap: wrap;justify-content: center;">
                        <div class="center_1" style="width: 30%;">
                            <div class="center" style="width: 40%;">
                                {{'equipment.motor.AveVoltage'|translate}}
                            </div>
                            <div class="height_80 width_50 bord center">{{ motor?.pa_urmsa||0 }}V</div>
                        </div>
                        <div style="width: 3%;"></div>

                        <div class="height_100 center_1" style="width: 30%;">
                            <div class="center" style="width: 40%;">
                                {{'equipment.motor.AveCurrent'|translate}}
                            </div>
                            <div class="height_80 width_50 bord center">{{ motor?.pa_irmsa||0 }}A</div>
                        </div>
                        <div style="width: 3%;"></div>

                        <div class="height_100 center_1" style="width: 30%;">
                            <div class="center" style="width: 47%;">
                                {{'equipment.motor.AveOutputPowerOfController'|translate}}
                            </div>
                            <div class="height_80 width_50 bord center">{{motor?.pa_pa||0}}kW</div>
                        </div>
                    </div>
                </div>
                <div class="height_40 width_100" style="display: flex;padding-left:3%">
                    <div id="threePhase" class="height_100 width_70"></div>
                    <div class="width_30 center" style="padding-bottom: 10px;">
                        <div id="threePhase_1" class="height_20 width_50"></div>
                        <div id="threePhase_2" class="height_20 width_50"></div>
                        <div id="threePhase_3" class="height_20 width_50"></div>
                        <div id="threePhase_4" class="height_20 width_50"></div>
                        <div id="threePhase_5" class="height_20 width_50"></div>
                        <div id="threePhase_6" class="height_20 width_50"></div>
                        <div id="threePhase_7" class="height_20 width_50"></div>
                        <div id="threePhase_8" class="height_20 width_50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>