.center {
    width: 100%;
    height: 99%;
    // height: 100%;
    padding-top: 5%;
    // border-width: 1px;
    // border-color: rgba(100, 183, 211, 1);
    // border-style: solid;
    background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    color: #dcdcdc;
    font-size: 1vh;
    .one {
        width: 20%;
        margin: 0% 0% 4% 4%;
        height: 28%;
        // padding: 20px;
        border-width: 1px;
        border-color: rgba(100, 183, 211, 1);
        border-style: solid;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 2px 2px 6px #489dcf, -2px -2px 6px #62d5ff;
        position: relative;
        img {
            width: 100%;
            height: 30%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }
    }
}

.speed {
    height: 37%;
    width: 42%;
    transform: rotate(-90deg);
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    left: 43%;
    top: 41%;
}

.speed_name {
    position: absolute;
    left: 45%;
    top: 77%;
    width: 50%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    overflow-y: auto;
    div {
        width: 100%;
        font-size: 12px;
        /*设置不换行*/
        white-space: nowrap;
        /*设置隐藏*/
        overflow: hidden;
        /*设置隐藏部分为省略号*/
        text-overflow: ellipsis;
    }
}

.andon_img {
    background: url('/assets/eimdoard/equipment/images/triangle.png');
    height: 17%;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    margin-left: 7px;
}

.blue {
    background-color: #006ced;
}

.red {
    background-color: #d71345;
}

.green {
    background-color: rgb(58, 141, 85);
}

.yellow {
    background-color: #d68f47;
}

.andon_color {
    border: 3px solid rgb(157, 195, 230);
    border-radius: 21px;
    height: 74%;
    .last {
        border-bottom-left-radius: 17px;
        border-bottom-right-radius: 17px;
    }
    .first {
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
    }
}

.font_li {
    height: 100%;
    // padding-top: 24%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.andon_status_font {
    margin-top: 17px;
    padding: 3px;
    font-size: 12px;
}