<div id="four_road">
    <div class="row" style="height: 100%;margin: 0;">
        <div class="col-md-4" style="padding: 0px 0px 0px 20px;">
            <div class="first_first" style="height: 41%;">
                <ngx-equipment-status [device]='deviceid' style="display: flex;width: 100%;"></ngx-equipment-status>
            </div>
            <div class="first_second lattice_layout" style="height: 20%;">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='deviceid' style="width: 100%;"></ngx-test-information>

            </div>
            <div class="dis_f_w first_third lattice_layout height_35">
                <ngx-log-warm [device]='deviceid' style="display: flex;width: 100%;flex-wrap: wrap;"></ngx-log-warm>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px;">
            <div class="sceond_fisrt height_29" style="padding: 0px;">
                <div class="part_title">{{ 'equipment.equipIntroduce'|translate}}</div>
                <ngx-equip-introduce style="width: 100%;" [name]="introd_name" [equipIntroduceList]="equipIntroduceList"></ngx-equip-introduce>
                <!-- <div style="overflow: auto;width: 100%;height: 100%;position: relative;text-align: left;">
                    <div style="text-indent: 2rem;">
                        <div class="equipments_table height_99">
                            <div class="column_100">
                            <div class="border_top_1px column_35">名称 name</div>
                            <div class="border_top_1px column_65">基本参数 specifications</div>
                            </div>
                            

                            <div class="column_100">
                            <div class="border_top_1px column_35">控制执行器电压</div>
                            <div class="border_top_1px column_65">35 volts DC
                            </div>
                            </div>
                            <div class="column_100">
                            <div class="border_top_1px column_35">加速执行器速率
                            </div>
                            <div class="border_top_1px column_65">0.45m/s max</div>
                            </div>
                            <div class="column_100">
                            <div class="border_top_1px column_35">制动执行器速率
                            </div>
                            <div class="border_top_1px column_65">0.3m/s max
                            </div>
                            </div>
                            <div class="column_100">
                            <div class="border_top_1px column_35">离合器执行器速率
                            </div>
                            <div class="border_top_1px column_65">0.35/0.5m/s
                            </div>
                            </div>
                            <div class="column_100">
                               <div class="border_top_1px column_35">换挡执行器速率
                               </div>
                               <div class="border_top_1px column_65">0.6m/s max
                               </div>
                               </div>
                            </div>

                    </div>
                </div> -->
            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <div style="width: 100%;height: 100%;display: flex;
                align-items: center;
                justify-content: center;">
                    <img id="img" [src]="img.url" [alt]="img.name">
                </div>
            </div>
            <div class="sceond_third height_33" style="position: relative;flex-wrap: wrap;padding-top: 0%; margin-top: 20px;">
                <!-- <div class="part_title">{{ 'equipment.EmissionAnalyzer'|translate }}</div> -->
                <div class="part_title">AVL转鼓</div>
                <div class="display_wrap height_39" style="width: 100%;margin-top: 17px;justify-content: center;align-items: center;">
                    <ng-container *ngFor="let item of discharge;let i = index">
                        <div class=" discharge" [ngStyle]="{'width':[4,5,6].includes(i)?'27%':'23%'}">
                            {{'equipment.'+item.name|translate}}
                            <div class=" div_blue">
                                {{item.value||0}}{{item.unit}}
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="height_50" style="width: 100%;padding-top: 13px;">
                    <div id="discharge_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px 0px 0px;">

            <div class="thrid">
                <div class="part_title">温湿度</div>
                <div class="height_47" style="display: flex;justify-content: center;align-items: center;">
                    <div id="t_real_temperature_4"></div>
                    <div id="t_real_temperature_5"></div>
                </div>
                <div class="height_47">
                    <div id="two_discharge_chart_1" style="height: 100%;"></div>
                </div>
            </div>
            <div class="height_65 bo" style="margin-top: 20px;position: relative;padding-top: 30px;">
                <!-- <div class="part_title">{{ 'equipment.AVLSpeed'|translate}}</div> -->
                <div class="part_title">AVL转鼓</div>
                <div style="position: absolute;right: 7px; display: flex;align-items: center;top: 0;">
                    {{ 'equipment.inertia'|translate}}
                    <div style="border: 2px solid #4472c4;width: 100px;height: 28px;">
                        {{rw}}kg
                    </div>
                </div>
                <div class="height_25 dis_f_w center_center">
                    <div id="gauge_1"></div>
                    <div id="gauge_2"></div>
                    <!-- <div id="gauge_3"></div> -->
                    <div id="gauge_4"></div>
                </div>
                <div class="height_20 dis_f_w center_center">
                    <div class="width_31 discharge" *ngFor="let item of avl_paramlist">
                        {{'equipment.'+item.name|translate}}
                        <div class=" div_blue">
                            {{item.value||0}}{{item.unit}}
                        </div>
                    </div>
                </div>
                <div class="height_26" id="avl_param_chart_1"></div>
                <div class="height_26" id="avl_param_chart_2"></div>
            </div>
        </div>
    </div>
</div>