

<nb-card style="height: 867px; margin: 0px;">
    <nb-card-header style="font-size: small;">设备安灯状态信息</nb-card-header>
    <nb-card-body style="background-color: #ffffff;padding-bottom: 0px;">
        <div class="row" style="margin: 0px -11px;">
            <div class="col-lg-9" style="display: flex;">
            
                <!-- 功能组 设备-->
                <div class="example-items-rows button_item">
                    <div class="gongneng_keshi">
                        <ngx-my-select-tree #groups_devieces  (parent_query)="parent_query($event)"></ngx-my-select-tree>
                    </div>
                </div>
                
                <!-- 搜索 -->
                <!-- <div class="example-items-rows button_item query" >
                    <button nbButton status="success" size="small" (click)="query()"><nb-icon icon="search-outline"></nb-icon>搜索</button>
                </div> -->
        
            </div>
        
            <div class="col-lg-3" style="display: flex;">
                <div style="flex: auto;">
                </div>
                <!-- 导出 -->
                
                <div class=" button_item my_import " *ngIf="button?.download">
                    <button nbButton [status]="button?.download.class" size="small" (click)="action(button?.download.permission)"  [disabled]="button?.download.active == 0? true:false"><nb-icon [icon]="button?.download.icon"></nb-icon>{{button?.download.title}}</button>
        
                </div>
                <!-- 重置table -->
                <div class="" style="text-align: right;">
                    <!-- loader-outline -->
                    <button nbButton  size="small" (click)="refresh_table()">
                        <nb-icon icon="sync-outline"></nb-icon>
                    </button>
                </div>
                
            </div>
        </div>
        <!-- table -->
        <div class="row" [nbSpinner]="loading" nbSpinnerStatus="basic">
            <div class="col-md-12">
                <ngx-ag-table #ag_Grid  (nzpageindexchange)="nzpageindexchange($event)"></ngx-ag-table>
            </div>
        </div>        
    </nb-card-body>
</nb-card>