<div id="prue">
    <div class="status">
        <div class="border-prue" style="width: 10%;">
            控制模式：
        </div>
        <div class="border-prue" style="width: 10%;">
            {{ status }}
        </div>
        <div class="border-prue" style="width: 60%;">
            报警列表：{{error_str}}
        </div>
    </div>
    <div class="all">

        <ng-container *ngFor="let key of object.keys(list)" [ngTemplateOutlet]="this[list[key].type]" [ngTemplateOutletContext]="{ $implicit: list[key] }">
        </ng-container>
    </div>
</div>

<!-- 圆 -->
<ng-template #round let-item>
    <div class="round piece" [ngStyle]="item.sytle">
        <p class="{{item.bcolor}}"></p>
    </div>
</ng-template>
<!-- 长方形 -->
<ng-template #pull let-item>
    <div class="pull piece {{item.bcolor}}" [ngStyle]="item.sytle">{{item.value}}</div>
</ng-template>