.introduce {
    // padding: 20px;
    text-align: left;
    font-size: 12px;
    width: 100%;
    
    // margin-bottom: 5px;
    position: relative;
    height: 88%;
    padding: 0% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        background-size: 100% 100%;
        -webkit-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-position: center center;
    }
}