.introduce {
    // padding: 20px;
    text-align: left;
    font-size: 12px;
    width: 99%;
    // margin-bottom: 5px;
    position: relative;
    height: 88%;
    img {
        height: 100%;
        width: 100%;
    }
}