<ng-container *ngFor="let item of equipIntroduceList;let i = index">
    <div *ngIf="eqIntShow == i" class="height_10 equipments_table_title flip">{{item.title }}</div>
    <div [ngStyle]="{display: eqIntShow != i?'none':''}" class="introduce  borad_introduction flip">
        <img src="assets/eimdoard/equipment/images/sbjs/{{name}}/{{item.src}}/{{i+1}}.png" alt="" />
    </div>
</ng-container>



<!-- <ng-container *ngIf="boardName == 'fourroad'">
    <ng-container *ngIf="eqIntShow == 0">
        <div class="height_10 equipments_table_title"></div>
        <div class="introduce borad_introduction">
            <p class="indent_2 p_white">四立柱轮耦合道路模拟试验主要在试验场采集车辆轮心加速度和螺旋弹簧应变（螺旋弹簧位移或者悬架位移）作为目标信号，在试验室台架上应用MTS RPC技术，来模拟4个车轮的垂向激励或者载荷，可以很精确地再现车辆在试验场道路的垂向工况，加快汽车产品耐久性的开发进度。同时，在试验室配备环境仓和红外灯的情况，可以对汽车内外饰的疲劳寿命和异响进行精确的考核。 </p>
            <p class="p_white p_margin">适用标准规范： </p>
            <p class="indent_2 p_white">Q/JLY J7210680A-2017 带环境条件的四立柱耐久试验规范
            </p>
            <p class="indent_2 p_white"> Q/JLY J7210624A-2016 整车四通道轮耦合道路模拟试验规范
            </p>
        </div>
    </ng-container>
    <ng-container *ngIf="eqIntShow == 1">
        <div class="height_10 equipments_table_title"> 四立柱参数</div>
        <div class="introduce  borad_introduction">
            <div class="equipments_table height_99">
                <div class="column_100">
                    <div class="border_top_1px column_65">名称 name</div>
                    <div class="border_top_1px column_35">基本参数 specifications</div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_65">最大整车重量 Max.GVW</div>
                    <div class="border_top_1px column_35">Up to 3500kg</div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_65">轴距 Wheel base</div>
                    <div class="border_top_1px column_35">U2m-3.5m</div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_65">轮距 Track width</div>
                    <div class="border_top_1px column_35">1.2m-1.8m</div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_65">轮胎宽度 Tire width</div>
                    <div class="border_top_1px column_35">13 to 20 inches</div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_65">作动器最大承载 Actuator Max. Force
                    </div>
                    <div class="border_top_1px column_35">50kN
                    </div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_65">作动器最大行程 Actuator Max. stroke</div>
                    <div class="border_top_1px column_35">±150 mm
                    </div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_65">作动器最大速度 Actuator Max. Velocity
                    </div>
                    <div class="border_top_1px column_35">3.0 m/s
                    </div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_65">轮盘最大加速度 Max Acceleration
                    </div>
                    <div class="border_top_1px column_35">21g
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="eqIntShow == 2">
        <div class="height_10 equipments_table_title"> 环境仓及光照参数</div>
        <div class="introduce  borad_introduction">
            <div class="equipments_table height_99">
                <div class="column_100">
                    <div class="border_top_1px column_35">名称 name</div>
                    <div class="border_top_1px column_65">基本参数 specifications</div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_35">环境舱尺寸（内部尺寸）<br> Environmental chamber Inside Demension</div>
                    <div class="border_top_1px column_65">8m×6m×5m
                    </div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_35">温度工作范围<br> Temperature working range
                    </div>
                    <div class="border_top_1px column_65">40 ℃～ +80 ℃<br> （不带日照系统Excluding IR simulation）</div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_35">湿度范围 <br> Humidity range
                    </div>
                    <div class="border_top_1px column_65">10 ～ 95 % r.h.
                    </div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_35">辐射区域Irradiated area

                    </div>
                    <div class="border_top_1px column_65">6m×2.5m

                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="eqIntShow == 3">
        <div class="height_10 equipments_table_title"> 环境仓及光照参数</div>
        <div class="introduce  borad_introduction">
            <div class="equipments_table height_99">
                <div class="column_100">
                    <div class="border_top_1px column_35">名称 name</div>
                    <div class="border_top_1px column_65">基本参数 specifications</div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_35">辐射强度 <br> Irradiation capacity
                    </div>
                    <div class="border_top_1px column_65">Max. 1200 W/m² <br> 10% ～100%可调<br> Adjustable between 10% to 100%
                    </div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_35">光谱分布 <br> Spectral distribution
                    </div>
                    <div class="border_top_1px column_65">VIS：6% (380 – 780 nm)<br> IR-A：46% (780 – 1400 nm) <br>IR-B：44% (1400 – 3000 nm)
                    </div>
                </div>
                <div class="column_100">
                    <div class="border_top_1px column_35">功率 <br> Install load
                    </div>
                    <div class="border_top_1px column_65">approx. 75 kVA (顶灯Top lamp)<br> approx. 47 kVA (侧灯Side lamp)

                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container> -->
<!-- 
<ng-container *ngIf="boardName == 'hydraulic'">
    <ng-container *ngIf="eqIntShow == 0">
        <div class="height_10"></div>
        <div style="text-align: left;margin-bottom: 1%;">
            主要功能用途：<br> &nbsp; &nbsp; &nbsp; {{title}}
            <br>
        </div>
        <div class="introduce flip span_class">
            使用标准\规范 ：<br> &nbsp;&nbsp;&nbsp; Q/JLY J7110489B-2016 乘用车前、后副车架总成技术条件 <br> &nbsp;&nbsp;&nbsp; Q/JLY J7110439D-2016 J05204 悬架摆臂总成类技术条件 <br> &nbsp;&nbsp;&nbsp; Q/JLY J7110490B-2016 J05204 后桥总成（扭力梁）技术条件<br> &nbsp;&nbsp;&nbsp; Q/JLY J7110371C-2016
            J05204 前、后稳定杆总成技术条件等<br>
        </div>
    </ng-container>

    <ng-container *ngIf="eqIntShow == 1">
        <div class="height_10" [ngStyle]="{}"></div>
        <div style="text-align: left;margin-bottom: 1%;">
            主要功能用途<br> &nbsp; &nbsp; &nbsp; {{title}}
            <br>
        </div>
        <div class="introduce flip ">
            <div class="equipments_table_title" style="padding-right: 10px">3.设备构成及参数</div>
            <div class="equipments_table">

                <div class="column_20 border_1px">
                    <div>名称</div>
                    <div class="border_top_1px">MTS直线缸</div>
                </div>
                <div class="column_42 border_1px">
                    <div>基本参数</div>
                    <div class="border_top_1px">载荷：±25kN；位移：±125mm</div>
                    <div class="border_top_1px">载荷：±50kN；位移：±125mm</div>
                </div>
                <div class="column_20 border_1px">
                    <div>数量</div>
                    <div class="border_top_1px">4</div>
                    <div class="border_top_1px">2</div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>


<ng-container *ngIf="boardName == 'shock'">
    <ng-container *ngIf="eqIntShow == 0">
        <div class="height_10"></div>
        <div style="text-align: left;margin-bottom: 1%;">
            主要功能用途：<br> &nbsp; &nbsp; &nbsp; {{title}}
            <br>
        </div>
        <div class="introduce flip span_class">
            使用标准\规范：<br> &nbsp;&nbsp;&nbsp; Q/JLY J7111070B-2018<br> &nbsp;&nbsp;&nbsp; 悬置系统六自由度道路模拟试验规范
            <br> &nbsp;&nbsp;&nbsp; Q/JLY J7210623A-2016<br> &nbsp;&nbsp;&nbsp; 六自由度振动台道路模拟试验规范 <br>
        </div>
    </ng-container>
    <ng-container *ngIf="eqIntShow == 1">
        <div class="height_10"></div>
        <div style="text-align: left;margin-bottom: 1%;">
            主要功能用途<br> &nbsp; &nbsp; &nbsp; {{title}}
            <br>
        </div>
        <div class="introduce flip ">
            <div class="equipments_table height_99">
                <div class="column_31 border_1px">
                    <div class="border_top_1px height_10">名称 name</div>
                    <div class="border_top_1px height_29">速度 Velocities
                    </div>
                    <div class="border_top_1px height_30">频率 Frequency
                    </div>
                    <div class="border_top_1px height_30">位移Displacement </div>
                </div>
                <div class="column_69 border_1px">
                    <div class="border_top_1px height_10">基本参数 Specifications
                    </div>
                    <div class="border_top_1px height_29">垂向1.2m/s、横向0.9m/s、纵向1.0m/s Vertica1.2m/s、Lateral0.9m/s、Longitudinal1.0m/s
                    </div>
                    <div class="border_top_1px height_30">0-80Hz
                    </div>
                    <div class="border_top_1px height_30">垂向±140mm、横向  110mm、纵向 125mm Vertical ±140mm、Lateral  110mm、Longitudinal  125mm
                    </div>
                </div>
            </div>

        </div>
    </ng-container>
    <ng-container *ngIf="eqIntShow == 2">
        <div class="height_10"></div>
        <div style="text-align: left;margin-bottom: 1%;">
            主要功能用途：<br> &nbsp; &nbsp; &nbsp; {{title}}
            <br>
        </div>
        <div class="introduce flip ">
            <div class="equipments_table height_99">
                <div class="column_31 border_1px">
                    <div class="border_top_1px height_10">名称 name</div>
                    <div class="border_top_1px height_44">旋转角 Rotations
                    </div>
                    <div class="border_top_1px height_26">台面尺寸 Table Size
                    </div>
                    <div class="border_top_1px height_20">承载范围Payload
                    </div>
                </div>
                <div class="column_69 border_1px">
                    <div class="border_top_1px height_10">基本参数 Specifications
                    </div>
                    <div class="border_top_1px height_44">滚动 – 绕X轴 8.0 deg、俯仰 – 绕Y轴 7.0 deg、偏航 – 绕Z轴 5.5 deg Roll - (X) axis 8.0 deg、Pitch - (Y) axis 7.0 deg、Yaw- (Z) axis 5.5 deg
                    </div>
                    <div class="border_top_1px height_26">约为2.2 米 x 2.2米 方台面 approximately 2.2 m x 2.2m square
                    </div>
                    <div class="border_top_1px height_20">最大负载 1000千克 Max Payload 1000kg
                    </div>
                </div>
            </div>
        </div>

    </ng-container>
</ng-container>


<ng-container *ngIf="boardName == 'oil-srouce'">
    <div class="height_10"></div>
    <div style="text-align: left;margin-bottom: 1%;">
        主要功能用途：<br> &nbsp; &nbsp; &nbsp; {{title}}
        <br>
    </div>
    <div class="introduce flip ">
    </div>
</ng-container> -->