.introduce {
    // padding: 20px;
    text-align: left;
    font-size: 12px;
    width: 99%;
    margin-bottom: 5px;
    position: relative;
    height: 60%;
}

.span_class {
    // text-indent: 2em;
    padding: 0px;
}