.health_data_echart_pie{
    height: 45%;
    // border: 1px solid;
    margin-bottom: 5%;
    min-height: 320px;
}

.health_data_echart_bar{
    height: 50%;
    min-height: 320px;
    // border: 1px solid;
}