<nb-card style="width: 800px;height: 700px;">
    <nb-card-header>
        <div class="row">
          <div class="col-md-4">编辑试验任务信息</div>
            <div class="col-md-6"></div>
            <div class="col-md-2" style="text-align: right;">
                <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <!-- 当前试验状态 -->
        <div class="row" style="margin: 10px;">
            <div class="col-lg-3 test_task_info_title" >
                <button style="border-style: hidden;position: absolute;"></button>
                <div>当前试验状态：</div>
            </div>
            <div class="col-lg-9" style="display: flex;">
                <div class="example-items-rows button_item">
                    <button type="button" class="testrun layui-btn layui-btn-primary layui-btn-radius" (click)="teststatus('testrun,试验启动')">试验启动</button>
                </div>
                <div class="example-items-rows button_item">
                    <button type="button" class="teststop layui-btn layui-btn-primary layui-btn-radius" (click)="teststatus('teststop,试验暂停')">试验暂停</button>
                </div>
                <div class="example-items-rows button_item">
                    <button type="button" class="testcontinue layui-btn layui-btn-primary layui-btn-radius" (click)="teststatus('testcontinue,试验继续')">试验继续</button>
                </div>
                <div class="example-items-rows button_item">
                    <button type="button" class="testcomplete layui-btn layui-btn-primary layui-btn-radius" (click)="teststatus('testcomplete,试验完成')">试验完成</button>
                </div>

                <div class="example-items-rows button_item">
                    <button type="button" class="cancel layui-btn layui-btn-primary layui-btn-radius" (click)="teststatus('cancel,试验取消')">试验取消</button>
                </div>

            </div>
        </div>

        <form class="layui-form" action="" lay-filter="test_task_info_edit">
            <div class="layui-form-item" >
                <!-- 选择试验开始时间 taskstart *ngIf="!isShow"-->
                <div class="layui-inline test_task_info_left">
                    <label class="layui-form-label mylabel mulu_title taskstart_title" style="width: auto;">{{taskstatus_value_tosave}}时间：</label>
                    <div class="layui-input-block" style="margin-left: 120px;">
                        <input type="text" name="taskstart"  lay-verify="required|taskstart" id="taskstart" class="layui-input" autocomplete="off">
                    </div>
                </div>
            </div>
            <!-- 预计时长(天)、试验轮次 -->
            <div class="layui-form-item">
                <!-- 预计时长 -->
                <div class="layui-inline test_task_info_left">
                    <label class="layui-form-label mylabel mulu_title" style="width: auto;">预计时长(天)：</label>
                    <div class="layui-input-block" style="margin-left: 120px;">
                        <input type="number" name="expectedtime" min="0" lay-verify="required|expectedtime" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <!-- 试验总轮次 -->
                <div class="layui-inline test_task_info_right">
                    <label class="layui-form-label mylabel mulu_title" style="width: auto;">试验总轮次：</label>
                    <div class="layui-input-block" style="margin-left: 120px;">
                        <input type="number" name="devicetasknumbers" min="0" lay-verify="required|devicetasknumbers" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>
    
            </div>
    
            <!-- 只有试验未启动，时不展示数据 -->
            <div class="layui-form-item" *ngIf="isShow">
                <div class="layui-inline test_task_info_left">
                    <label class="layui-form-label mylabel mulu_title" style="width: auto;">试验当前轮次：</label>
                    <div class="layui-input-block" style="margin-left: 120px;">
                        <input type="number" name="devicetasknownumbers"  lay-verify="required|devicetasknownumbers" placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline test_task_info_right">
                    <label class="layui-form-label mylabel " style="width: auto;">上次状态修改时间：</label>
                    <div class="layui-input-block" style="margin-left: 135px;">
                        <input type="text" disabled name="lastupdateon"  lay-verify="required|lastupdateon" placeholder="上次状态修改时间" autocomplete="off" class="layui-input" style="    cursor: no-drop;">
                    </div>
                </div>
            </div>
            
            <div class="layui-form-item" *ngIf="isShow">
                <label class="layui-form-label mylabel mulu_title" style="width: auto;">状态变更原因：</label>
                <div class="layui-input-block" style="margin-left: 120px;">
                    <select id="statuscause" name="statuscause" lay-filter="statuscause">
                    </select>
                    <!-- <input type="text" name="statuscause"  lay-verify="required|statuscause" placeholder="临时试验插入/更改设备/设备维修/更换样件/试验完成/等待支持/其他" autocomplete="off" class="layui-input"> -->
                </div>
            </div>
            
            <div class="layui-form-item" *ngIf="isShow">
                <label class="layui-form-label mylabel " style="width: auto;">其它备注：</label>
                <div class="layui-input-block" style="margin-left: 120px;">
                    <textarea placeholder="其它备注" class="layui-textarea" name="causemessage"></textarea>
                </div>
            </div>

            <!-- 扩充高度 style="text-align: end;bottom: 10px;position: absolute;right: 1%;"-->
            <!-- button 取消、确定 -->
            <div class="layui-form-item" style="    text-align: end;bottom: 10px;position: absolute;right: 1%;">
                <div class="layui-row" style="text-align: end;">
                    <div class="layui-inline">
                      <div class="layui-input-inline">
                      </div>
                    </div>
                    <div class="layui-inline">
                      <div class="layui-input-inline">
                          <button class="layui-btn layui-btn-primary" (click)="cancel()">取消</button>
                          <button type="submit" class="edit_submit_confirm layui-btn" lay-submit="" lay-filter="confirm" *ngIf="this.rowdata.taskstatus != '已完成'&&this.rowdata.taskstatus != '已取消'">确定</button>
                      </div>
                    </div>
                </div>
            </div>
        </form>




    </nb-card-body>
</nb-card>