<nb-card style="width: 400px;z-index:10000 !important;right: 40%;position: fixed;top: 40%;" size="tiny" 
>
  <nb-card-header>
    <div class="row">
      <div class="col-md-4">提示</div>
      <!-- <div class="col-md-4">{{title}}</div> -->
        <div class="col-md-6"></div>
        <div class="col-md-2" style="text-align: right;">
            <!-- <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon> -->
            <i class="layui-icon layui-icon-close" style="font-size: 20px; color: #000000;" (click)="closedialog()"></i>  
        </div>
    </div>
  </nb-card-header>

  <nb-card-body>
      <div style="margin-bottom: 12%;">
        <i class="layui-icon layui-icon-tips" style="font-size: 20px; color: #ff9800;"></i>  您的登录已失效，请重新登录
        <!-- <i class="layui-icon layui-icon-tips" style="font-size: 20px; color: #ff9800;"></i>  {{content}} -->
      </div>
    <form class="layui-form" action="" lay-filter="tooltip">
        <div class="layui-form-item">
            <div class="layui-row" style="text-align: end;">
                
                <div class="layui-inline">
                      <button type="submit" class="layui-btn" lay-submit="" lay-filter="tooltip" >确定</button>
                </div>
                
            </div>
        </div>
    </form>
    
  </nb-card-body>
</nb-card>
