<div class="row" style="margin: 0px -11px;">
    <div class="col-lg-9" style="display: flex;">
    
        <!-- 功能组 设备-->
        <div class="example-items-rows button_item">
            <div class="gongneng_keshi">
                <ngx-my-select-tree #groups_devieces (parent_query)="parent_query($event)"></ngx-my-select-tree>
            </div>
        </div>
        
        <!-- 搜索 -->
        <!-- <div class="example-items-rows button_item query" >
            <button nbButton status="info" size="small" (click)="query()"><nb-icon icon="search-outline"></nb-icon>搜索</button>
        </div> -->

    </div>

    <div class="col-lg-3" style="display: flex;">
        <div style="flex: auto;">
        </div>
        
    </div>
</div>

<div class="row" style="margin: 0px -11px;">
    <!-- 当前设备运行状态 -->
    <div class="col-md-8">
        <nb-card>
            <nb-card-header style="font-size: small;">
                当前设备运行状态
            </nb-card-header>
            <nb-card-body>
                <table>
                    <tr>
                        <td class="name">科室名称:</td>
                        <td class="group"></td>
                    </tr>
                    <tr>
                        <td class="name">设备名称:</td>
                        <td class="devicename"></td>
                    </tr>
                    <tr>
                        <td class="name">设备编号</td>
                        <td class="deviceno"></td>
                    </tr>
                    <tr>
                        <td class="name">提交人</td>
                        <td class="createdby"></td>
                    </tr>
                    <tr>
                        <td class="name">状态更新时间</td>
                        <td class="recordtime"></td>
                    </tr>
                    <tr>
                        <td class="name">当前设备状态</td>
                        <td class="status"></td>
                    </tr>
                    <tr>
                        <td class="name">故障描述</td>
                        <td class="errmsg"></td>
                    </tr>
                    
                    
                </table>
                <!-- 设备状态切换 -->
                <div class="submit">
                    <button nbButton status='info' (click)="edit()">设备状态切换</button>
                </div>
            </nb-card-body>
        </nb-card>

    </div>
    <!-- 设备状态历史(仅20天) -->
    <div class="col-md-4 " style="padding-left: 0px;">
        <nb-card>
            <nb-card-header>
                <div class="row" >
                    <div class="col-md-6" style="font-size: small;">设备状态历史(近20条)</div>
                    <div class="col-md-4" style="text-align: end;">
                        <nb-select placeholder="请选择时间" [(selected)]="selectedItem" 
                            size="small" status="info">
                            <!-- <nb-option value="">Option empty</nb-option> -->
                            <nb-option value="1">最近1天</nb-option>
                            <nb-option value="3">最近3天</nb-option>
                            <nb-option value="7">最近1周</nb-option>
                            <nb-option value="30">最近1月</nb-option>
                        </nb-select>
                    </div>
                    
                    <div class="col-md-2" style="display: flex;">
                        <div style="flex: auto;">
                        </div>
                        <button nbButton size="small" (click)="get_history()">
                            <nb-icon icon="sync-outline"></nb-icon>
                        </button>
                    </div>
                    
                </div>
            </nb-card-header>
            <nb-card-body>
                <!-- 时间轴 ant的 -->
                <ngx-ant-time-line #timeline></ngx-ant-time-line>
            </nb-card-body>
        </nb-card>
    </div>
</div>