

<div style="position: relative;" class="tree_isShow">
    <input type="text" name="daily_target_duration_title" required="" lay-verify="required" 
    placeholder="placeholder_title" readonly="" autocomplete="off" 
    class="layui-input daily_target_duration_employeenumber_2" style="margin-left: 2px;width: 98%;line-height: 16px;" 
    >
    <nb-icon class="daily_target_duration_xiala" [icon]="xialaicon"></nb-icon>
    <div class="daily_target_duration_eleTree daily_target_duration_ele5" lay-filter="daily_target_duration_data5"></div>

</div>