<div id="motor_6_7">
    <div class="row" style="margin: 0;height: 100%;">
        <div class="col-md-4" style="padding: 0px 0px 0px 20px;">
            <div class="first_first height_41">
                <ngx-equipment-status andon_status_font='ATECSafetyLampStatus' [device]='boyang_deviceid' style="display: flex;width: 100%;"></ngx-equipment-status>
            </div>
            <div class="first_second lattice_layout" style="height: 20%;">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='boyang_deviceid' style="width: 100%;"></ngx-test-information>
            </div>
            <div class="sceond_third height_35" style="flex-wrap: wrap;margin-top: 20px;">
                <!-- <div class="part_title">{{ 'equipment.EquipmentHealthParam'|translate}}</div>
                <div class="dis_f_w center_center width_100 height_50">
                    <div id="motor_chart_g_1" class="height_100" style="width: 25%;"></div>
                    <div id="motor_chart_g_2" class="height_100" style="width: 25%;"></div>
                    <div id="motor_chart_g_5" class="height_100" style="width: 25%;"></div>
                    <div id="motor_chart_g_6" class="height_100" style="width: 25%;"></div>
                </div>
                <div id="motor_chart_1" class="width_100 height_50"></div> -->
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px;">
            <div class="sceond_fisrt height_29">
                <div class="part_title">{{ 'equipment.equipIntroduce'|translate}}</div>
                <ngx-equip-introduce style="width: 100%;" [name]="introd_name" [equipIntroduceList]="equipIntroduceList"></ngx-equip-introduce>

            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <div class="dis_f_w center_center height_100" style="width: 100%;">
                    <img id="img" [src]="img.url" [alt]="img.name">
                </div>
            </div>
            <div class="height_35 bo" style="margin-top: 20px;position: relative;padding-top: 20px;">
                <div class="part_title">{{ 'equipment.EquipmentHealthParam'|translate}}</div>
                <div class="dis_f_w center_center width_100 height_50">
                    <div id="motor_chart_g_1" class="height_100" style="width: 25%;"></div>
                    <div id="motor_chart_g_2" class="height_100" style="width: 25%;"></div>
                    <div id="motor_chart_g_5" class="height_100" style="width: 25%;"></div>
                    <div id="motor_chart_g_6" class="height_100" style="width: 25%;"></div>
                </div>
                <div id="motor_chart_1" class="width_100 height_50"></div>

            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px 0px 0px;height: 100%;">
            <div class="sceond_third height_31" style="flex-wrap: wrap;">
                <div class="part_title">{{ 'equipment.EquipmentHealthParam'|translate}}</div>
                <div class="dis_f_w center_center width_100 height_50">
                    <div id="motor_chart_g_3" class="height_100" style="width: 50%;"></div>
                    <div id="motor_chart_g_4" class="height_100" style="width: 50%;"></div>
                </div>
                <div id="motor_chart_2" class="width_100 height_50"></div>
            </div>
            <div class="height_67 bo" style="margin-top: 20px;padding-top: 20px;position: relative;">
                <div class="part_title">{{ 'equipment.real'|translate }}{{ 'equipment.motor.MotorParam'|translate }}
                </div>
                <div class="height_19 dis_f" >
                    <div id="dashboard_67" class="height_100" style="margin-left: 10%;width: 60%;">
                    </div>
                    <div style="width: 40%;" class="c_c height_100">
                        <div style="width: 50%;">系统效率</div>
                        <div class="blue_b">{{motor?.eff_sys || 0}}%</div>
                        <div style="width: 50%;">电机效率</div>
                        <div class="blue_b">{{motor?.eff_mot || 0}}%</div>
                        <div style="width: 50%;">控制器效率</div>
                        <div class="blue_b">{{motor?.eff_con || 0}}%</div>
                    </div>
                </div>

                <div id="line_chart_12_67" class="height_23">
                </div>
                <div class="height_17 ">
                    <div class="height_50 dis_f_w center_center">
                        <div class="height_100 dis_f center_center" style="width: 30%;">
                            <div class=" dis_f_w center_center">
                                {{'equipment.motor.LinearVoltage'|translate}}
                            </div>
                            <div class="height_100  bord dis_f_w center_center big_font">{{ motor.urms4 || 0}}V</div>
                        </div>
                        <div style="width: 1%;"></div>
                        <div class="height_100 center_center dis_f " style="width: 30%;">
                            <div class="center_center dis_f_w">
                                {{'equipment.motor.LineaCurrent'|translate}}
                            </div>
                            <div class="height_100  bord center_center dis_f_w big_font">{{ motor.irms4|| 0 }}A</div>
                        </div>
                        <div style="width: 1%;"></div>

                        <div class="height_100 center_center dis_f" style="width: 30%;">
                            <div class="center_center dis_f_w">
                                {{'equipment.motor.DCpower'|translate}}
                            </div>
                            <div class="height_100  bord center_center dis_f_w big_font">{{ motor.prms4|| 0 }}kW</div>
                        </div>
                    </div>
                    <div class="height_50 dis_f_w center_center">
                        <div class="height_100 center_center dis_f" style="width: 30%;">
                            <div class="center_center dis_f_w">
                                {{'equipment.motor.AveVoltage'|translate}}
                            </div>
                            <div class="height_100  bord center_center dis_f_w big_font">{{ motor.urmsa|| 0 }}V</div>
                        </div>
                        <div style="width: 1%;"></div>

                        <div class="height_100 center_center dis_f" style="width: 30%;">
                            <div class="center_center dis_f_w">
                                {{'equipment.motor.AveCurrent'|translate}}
                            </div>
                            <div class="height_100  bord center_center dis_f_w big_font">{{ motor.irmsa|| 0 }}A</div>
                        </div>
                        <div style="width: 1%;"></div>

                        <div class="height_100 center_center dis_f" style="width: 30%;">
                            <div class="center_center dis_f_w" >
                                {{'equipment.motor.OutputPower'|translate}}
                            </div>
                            <div class="height_100  bord center_center dis_f_w big_font">{{motor.prmsa|| 0}}kW</div>
                        </div>
                    </div>
                </div>
                <div class="height_40" style="display: flex;padding-left:2%">
                    <div id="threePhase_67" class="height_100 width_70"></div>
                    <div style="display: flex;flex-wrap: wrap;padding-bottom: 10px;width: 30%;">
                        <div id="threePhase_1_67" class="height_25 width_50"></div>
                        <div id="threePhase_2_67" class="height_25 width_50"></div>
                        <div id="threePhase_3_67" class="height_25 width_50"></div>
                        <div id="threePhase_4_67" class="height_25 width_50"></div>
                        <div id="threePhase_5_67" class="height_25 width_50"></div>
                        <div id="threePhase_6_67" class="height_25 width_50"></div>
                        <div id="threePhase_7_67" class="height_25 width_50"></div>
                        <div id="threePhase_8_67" class="height_25 width_50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>