
<!-- 
    <div class="eleTree eletype" lay-filter="datatype"></div> -->
    
    <div style="position: relative;" class="tree_type_isShow">
        <input type="text" name="title_type" required="" lay-verify="required" 
        placeholder="placeholder_title" readonly="" autocomplete="off" 
        class="layui-input employeenumber" 
        style="margin-left: 2px;width: 98%;line-height: 16px;" 
        >
        <!-- <input nbInput name="title_type" shape="rectangle"  style="margin-left: 2px;width: 98%;line-height: 16px;" placeholder="placeholder_title" status="success" type="text" class="employeenumber"> -->
    <div class="eleTree eletype" lay-filter="datatype"></div>
    <nb-icon class="xiala" [icon]="xialaicon"></nb-icon>
</div>
