// 科室/功能组
.gongneng_keshi{
    width: 168px;
    line-height: 23px;

}

.button_item{
    margin: 0px 10px 10px 0px;
}

.month{
    width: 100px;
    line-height: 23px;
}
.year{
    width: 100px;
}

.my-button{
    text-align: center;
    // height: 40px;
    padding-top: 3px;
    // 导入文件
    .import{
        display:none
    }
    
}

// 导入---导出
.my_import{
    text-align: center;
    // height: 40px;
    // 导入文件
    .import{
        display:none
    }
    
  }