<div class="row" >
    <!-- 修改密码 -->
    <div class="col-md-4" style="padding: 0px; text-align: center;">
        <button nbButton size="tiny" status="info" fullWidth (click)="device_info('password')" type="button">
            修改密码
        </button>
    </div>

    <!-- 编辑、删除 -->
    <div class="col-md-4" style="padding: 0px; text-align: center;">
        <button class="buedit edit-edit" (click)="device_info('edit')" type="button">
            <a class="edit action"  ><i class="nb-edit" style="font-size: 35px;"></i></a>
        </button>
    </div>
    <div class="col-md-4" style="padding: 0px; text-align: center;">
        <button class="buremove remove-remove" (click)="device_info('del')" type="button">
            <a class="remove action" ><i class="nb-trash" style="font-size: 35px;"></i></a>
        </button>
    </div>
</div>