@import '../../../../../../node_modules/bulma/css/bulma.min.css';

// 隐藏滚动条
.tabs::-webkit-scrollbar{
    display: none;
    width: 2px;
}
.tabs{
    overflow-x: hidden;
}

.tab-conent{
    margin-top: 10px;
    width: 100%;
}

.all_num{
    color: #363834;
    font-size: xx-small;
    background: #99da9999;
    border-radius: 5px;
    padding: 0px 2px;
}

// 搜索
.mysearch{
    width: 100%;
}

.my-select{
    height: 40px;
    // border: 1px greenyellow solid;
  }
  .my-button{
    text-align: center;
    // height: 40px;
    padding-top: 3px;
    // 导入文件
    .import{
        display:none
    }
    
  }
  
  .device_manage_table{
    margin-top: 20px;
  }
  .button_item{
    margin: 0px 10px 10px 0px;
  }
  
  // 导入---导出
  .my_import{
  text-align: center;
  // height: 40px;
  // 导入文件
  .import{
      display:none
  }
  
  }
  #devicename{
    line-height: 16px;
  }
  
  // 科室/功能组
  .gongneng_keshi{
    width: 168px;
    // line-height: 29px;
    line-height: 23px;
    // border: 1px pink solid;
  
  }
  
  // 设备数量
  .devicenumbers{
    padding: 0px 15px;
    div{
      border: 1px solid #bfbcbc;
      text-align: center;
      position: relative;
    }
    h4{
      font-weight: 600;
      font-size: large;
    }
    p{
      position: absolute;
      top: 18%;
      right: 10%;
      font-size: larger;
      font-weight: 600;
    }
  }
  // 饼状图，柱状图
  #devicepie,#devicebar{
    width: 100%;
    height: 300px;
  }

  // kpi title
  .curr_device_status_tongji{
    position: absolute;
    font-size: 15px;
    font-weight: 800;
    top: 14px;
    left: 15px;
  }

