<div class="row device_alert_info_alert">
    <div class="alert_info_alert ">
        <table>
            <tr class="alert_info_alert_table_bo_header">
                <td  *ngFor="let title of log_warm.title;let i =index" [ngStyle]="{'width':i<3?'20%':'40%'}">
                    {{title}}
                </td>
            </tr>
        </table>
    </div>
    
    <div class="alert_info_alert_table_info_content ">
        <table>
            <tr class="table_info_center" *ngFor="let data of log_warm.data;let i =index" [ngStyle]="{'color':data[2] == '0'?'#f595ca':(data[2]=='1'?'yellow':'')}">
                <td *ngFor="let item of data;let i = index" [ngStyle]="{'width':i<3?'20%':'40%'}">
                    <span *ngIf="i < 3">{{item}}</span>
                    
                </td>
            </tr>
        </table>
    </div>
</div>