// 试验汇总信息
.device_alert_info_alert{
    margin-bottom: 20px;
    margin: 0px;
    height: 100%;
    .alert_info_alert {
        height: 10%;
        padding: 0;
        margin: 0;
        padding-top: 25px;
        width: 100%;
        table{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            border: 1px solid #4472c4;
            .alert_info_alert_table_bo_header {
                // display: flex;
                // height: 100%;
                // height: 7%;
                height: 50px;
                // width: 100%;
                background: rgb(68, 114, 196);
                padding: 3px 0;
                td {
                    width: 33%;
                }
            }
        }
    }

    .alert_info_alert_table_info_content{
        // height: 277px;
        height: 77%;
        position: absolute;
        top: 22%;

        padding: 0;
        margin: 0;
        // height: 90%;
        overflow-y: scroll;
        width: 100%;
        table{
            width: 100%;
            .table_info_center{
                height: 30px;
                // td{
                // }
            }
        }
    }
    
}

.alert_info_alert_table_info_content::-webkit-scrollbar {/*滚动条整体样式*/

    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/

    height: 1px;

}
