.change_password{
    width: 800px;
    overflow-y: auto;
}

.mylabel{
    padding: 9px 0px;
}
.mylabel::before{
    content: "*";
    color: #ff4949;
    margin-right: 4px;
}
.change_password_div{
    margin-left: 90px;
}

.button_item{
    margin: 0px 10px 10px 0px;
}