


<div id="rtmv2"  style="padding-bottom: 5px;">
    <div class="row" style="margin: 0px -11px;">
        <div class="col-md-11">
            <span class="header_title">智慧实验室</span>
        </div>
        <div class="col-md-1" style="text-align: right; padding-left: 0px; line-height: 35px;">
            <nb-icon [icon]="is_not_fullscreen ? 'expand-outline' : 'collapse-outline'" [status]="is_not_fullscreen ? 'warning' : 'info'" (click)="showAllTemplate()"></nb-icon>
        </div>
    </div>

    <div class="row" style="margin: 0px -11px; min-height: 860px;    height: 97%;">
        <div class="coll-lg-12" style="padding: 0 11px; width:100%;">
            <div class="chian_map"></div>
        </div>
    </div>
</div>

