<nb-card style="width: 800px;">
    <nb-card-header>
        <div class="row">
          <div class="col-md-4">请选择考核月目标工作日</div>
            <div class="col-md-6"></div>
            <div class="col-md-2" style="text-align: right;">
                <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon>
            </div>
        </div>
      </nb-card-header>

      <nb-card-body>



        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
          
          <!-- 实际工作日上一月 -->            
          <div class="col-lg-6" style="padding-right: 0px;padding-left: 10%;">
            <div class="flatpickr">
              <input type="text" class="layui-input" placeholder="请选择实际工作日(所选月份前一月)" id="target_startdate_before" autocomplete="off" data-input>
            </div>
          </div>

          <!-- 实际工作日 所选月 -->
          <div class="col-lg-6" style="padding-left: 0px;">
            <div class="flatpickr">
              <input type="text" class="layui-input" placeholder="请选择实际工作日(所选月份)" id="target_startdate" autocomplete="off" data-input>
            </div>
          </div>

        </div>

        <div class="row" style="margin-bottom: 20px;padding-left: 9%;">
          
          <div class="col-lg-3" style="position: absolute;padding-top: 6px;">每日目标时长：</div>
          <div class="col-lg-3" style="position: relative;margin-left: 14%;padding-right: 8%;">
            <ngx-daily-target-duration #myMonth [placeholder]="month_placeholder"></ngx-daily-target-duration>
            <!-- 每日目标时长h 改为 下拉框 8、12、16、24  -->
            <!-- <input type="number" [(ngModel)]="inputvalue" (ngModelChange)="changeValue($event)" class="layui-input target_time" placeholder="每日目标时长(h)"  autocomplete="off">
            <span class="delet_input_value_target_hour">
              <i class="layui-icon layui-icon-close-fill" (click)="del_input_value()"></i>   
            </span> -->
          </div>
          <div class="col-lg-6">
          </div>
        </div>
        

        <form class="layui-form" action="" lay-filter="tooltip">
            <!-- 取消、确定 -->
            <div class="layui-form-item">
                <div class="layui-row" style="text-align: end;">
                    <div class="layui-inline">
                      <div class="layui-input-inline">
                          <button class="layui-btn layui-btn-primary" (click)="cancel()">取消</button>
                          <button type="submit" class="layui-btn" lay-submit="" lay-filter="tooltip"  (click)="confirm()">确定</button>
                      </div>
                    </div>
                    
                </div>
            </div>
        </form>

      </nb-card-body>

</nb-card>
