.mylabel{
    padding-right: 0px;
    margin-right: 5px;
}
// 开始时间
#target_startdate{
    width: 60%;
    border: 1px solid #c3c3c3;
    height: 36px;
    line-height: 36px;
    width: 100%;
    padding: 8px;
    max-width: 360px;
    border-radius: 3px;
    background: #fff;
}