<div id="voc">
    <div class="row" style="height: 100%;margin: 0;">
        <div class="col-md-4" style="padding: 0px 0px 0px 20px;">
            <div class="backgroud height_41">
                <ngx-equipment-status [device]='deviceid' [chart_1_type]="'type_2'" style="display: flex;width: 100%;height: 100%;"></ngx-equipment-status>
            </div>
            <div class="backgroud  height_20">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='deviceid' style="width: 100%;"></ngx-test-information>
            </div>
            <div class="backgroud height_35">
                <ngx-log-warm [device]='deviceid'></ngx-log-warm>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px;">
            <div class="backgroud height_26" style="padding: 0px; ">
                <div class="part_title">设备介绍</div>
                <ngx-equip-introduce style="width: 100%;height: 100%;" [name]="introd_name" [equipIntroduceList]="equipIntroduceList"></ngx-equip-introduce>
                <!-- <div style="text-align: left;text-indent: 2rem;">
                    整车voc环境舱可以提供标准的测试环境（如指定的温度、相对湿度、光照度、背景和气流速度）或模拟真实的环境，用于汽车整车车内空气质量评价
                </div>
                使用标准 
                <div style="text-align: left;text-indent: 2rem;">
                    HJ/T 400-2007       
                </div>
                <div style="text-align: left;text-indent: 2rem;">
                    ISO 12219-1:2012(E)
                </div>
                <div style="text-align: left;text-indent: 2rem;">
                    大众VW PV3938汽车VOC检测方法
                </div>
                <div style="text-align: left;text-indent: 2rem;">
                    日本JAMA 汽车内VOC检测方法
                </div> -->
                <!-- 温度范围Temperature Range   15℃～80℃
温度偏差Temperature Departure  ±1℃
温度波动度Temperature Fluctuation  ±0.5℃
温度范围Humidity range  30～80%RH
温度偏差Humidity deviation +2%/-3%RH
温度波动度Humidity fluctuation ±2%RH -->
                <!-- <div class="equipments_table height_99">
                     <div class="column_100">
                     <div class="border_top_1px column_65">设备</div>
                     <div class="border_top_1px column_35">数值</div>
                     </div>
                     <div class="column_100">
                     <div class="border_top_1px column_65">温度范围Temperature Range</div>
                     <div class="border_top_1px column_35">15℃～80℃
                     </div>
                     </div>
                     <div class="column_100">
                     <div class="border_top_1px column_65">温度偏差Temperature Departure
                     </div>
                     <div class="border_top_1px column_35"> ±1℃</div>
                     </div>
                     <div class="column_100">
                     <div class="border_top_1px column_65">温度波动度Temperature Fluctuation
                     </div>
                     <div class="border_top_1px column_35">±0.5℃
                     </div>
                     </div>
                     <div class="column_100">
                     <div class="border_top_1px column_65">温度范围Humidity range
                    
                     </div>
                     <div class="border_top_1px column_35">30～80%RH
                    
                     </div>
                     </div>
                     <div class="column_100">
                        <div class="border_top_1px column_65">温度偏差Humidity deviatio
                       
                        </div>
                        <div class="border_top_1px column_35">+2%/-3%RH
                       
                        </div>
                        </div>
                        <div class="column_100">
                            <div class="border_top_1px column_65">温度波动度Humidity fluctuation
                           
                            </div>
                            <div class="border_top_1px column_35">±2%RH
                           
                            </div>
                            </div>
                     </div> -->
            </div>
            <div class="center_img backgroud" style="padding:0;">
                <div class="part_title">在线视频</div>
                <img id="img" [src]="imgsrc.center" />
            </div>
            <div class="backgroud height_35">
                <div class="part_title">环境舱3</div>
                <div class="cabin">
                    <div class="cabin_layout height_40">
                        <div class="round" [ngStyle]="{background:cang_3.status?'#66FF66':'black' }"></div>
                        <div id="cabin_pie_5"></div>
                        <div id="cabin_pie_6"></div>
                        <div class="cabin_1_set height_100">
                            <div class="set_1">温度设定值：<span class="span_css">{{ cang_3.tempSet}}℃</span></div>
                            <div class="set_1">湿度设定值：<span class="span_css">{{ cang_3.rhSet }}%RH</span></div>
                        </div>
                    </div>
                    <div id="cabin_line_3" class="height_54 w_100"></div>
                </div>


            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px 0px  0px;">
            <div class="backgroud height_63">
                <div class="part_title">环境舱1</div>
                <div class="cabin_layout height_35">
                    <div class="height_100" style="display: flex;align-items: center;">加热器状态：</div>
                    <div class="cabin_layout height_100 " style="width: 80%;flex-wrap: wrap;">
                        <div *ngFor="let item of cang_hot.list" class=" cabin_1_set" style="width: 45%;">
                            <div class="set_1" *ngIf="item.name">{{ item.name}}：<span class="span_css">{{ item.value}} {{item.unit}}</span></div>
                        </div>
                    </div>
                </div>
                <!-- <div>环境舱1</div> -->

                <div class="height_65">
                    <div class="cabin_layout height_41">
                        <div class="round" [ngStyle]="{background:cang_1.status?'#66FF66':'black' }"></div>
                        <div id="cabin_pie_1"></div>
                        <div id="cabin_pie_2"></div>
                        <div class="cabin_1_set height_100" style="width: 40%;">
                            <div class="set_3">
                                <div class="div_row" style="width: 46%;margin-right: 2%;">
                                    内循环：
                                    <div class="round_small" [ngStyle]="{background: cang_1.inner?'#66FF66':'black'}"></div>
                                </div>
                                <div class="div_row">
                                    强排气：
                                    <span class="round_small" [ngStyle]="{background: cang_1.exhaust?'#66FF66':'black'}"></span>
                                </div>
                            </div>
                            <div class="set_3">
                                <div class="div_row" style="width: 46%;margin-right: 2%;">
                                    外循环：
                                    <div class="round_small" [ngStyle]="{background: cang_1.outside?'#66FF66':'black'}"></div>
                                </div>
                                <div class="div_row">

                                    尾气排扇：
                                    <div class="round_small" [ngStyle]="{background: cang_1.fan?'#66FF66':'black'}"></div>
                                </div>
                            </div>
                            <div class="set_3">温度设定值：<span class="span_css">{{ cang_1.tempSet}}℃</span></div>
                            <div class="set_3">湿度设定值：<span class="span_css">{{ cang_1.rhSet }}%RH</span></div>
                        </div>
                    </div>
                    <div id="cabin_line_1" class="height_54 w_100"></div>
                </div>
            </div>
            <div class="backgroud height_35">
                <div class="part_title">环境舱2</div>
                <div class="cabin">
                    <div class="cabin_layout height_40">
                        <div class="round" [ngStyle]="{background:cang_2.status?'#66FF66':'black' }"></div>
                        <div id="cabin_pie_3"></div>
                        <div id="cabin_pie_4"></div>
                        <div class="cabin_1_set height_100" style="width: 40%;">
                            <div class="set_2">
                                <div class="div_row" style="width: 46%;margin-right: 2%;">
                                    内循环：
                                    <div class="round_small" [ngStyle]="{background: cang_2.inner?'#66FF66':'black'}"></div>
                                </div>
                                <div class="div_row">
                                    强排气：
                                    <span class="round_small" [ngStyle]="{background: cang_2.exhaust?'#66FF66':'black'}"></span>
                                </div>
                            </div>
                            <div class="set_2">
                                <div class="div_row" style="width: 46%;margin-right: 2%;">
                                    外循环：
                                    <div class="round_small" [ngStyle]="{background: cang_2.outside?'#66FF66':'black'}"></div>
                                </div>
                                <div class="div_row">

                                    尾气排扇：
                                    <div class="round_small" [ngStyle]="{background: cang_2.fan?'#66FF66':'black'}"></div>
                                </div>
                            </div>
                            <div class="set_2">温度设定值：<span class="span_css">{{ cang_2.tempSet}}℃</span></div>
                            <div class="set_2">湿度设定值：<span class="span_css">{{ cang_2.rhSet }}%RH</span></div>
                        </div>
                    </div>
                    <div id="cabin_line_2" class="height_54 w_100"></div>
                </div>
            </div>
        </div>
    </div>
</div>