<div id="four_road">
    <div class="row" style="height: 100%;margin: 0;">
        <div class="col-md-4" style="padding: 0px 0px 0px 20px;">
            <div class="first_first" style="height: 33%;">
                <ngx-equipment-status [device]='deviceid_avl_speed' style="display: flex;width: 100%;"></ngx-equipment-status>
            </div>
            <div class="first_second lattice_layout" style="height: 29%;">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='deviceid_avl_speed' style="width: 100%;"></ngx-test-information>

            </div>
            <div class="dis_f_w first_third lattice_layout height_32">
                <ngx-log-warm [device]='deviceid_avl_speed' style="display: flex;width: 100%;flex-wrap: wrap;"></ngx-log-warm>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px;">
            <div class="sceond_fisrt height_28">
                <div class="part_title">{{ 'equipment.equipIntroduce'|translate}}</div>
                <div style="padding: 20px;overflow: auto;">
                    设备分三部分：AVL 转股、排放分析仪、环境舱；
                </div>
            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <div style="width: 100%;height: 100%;display: flex;
            align-items: center;
            justify-content: center;">
                    <img id="img" [src]="img.url" [alt]="img.name">
                </div>
            </div>
            <div class="sceond_third height_33" style="position: relative;flex-wrap: wrap;padding-top: 0%; margin-top: 20px;">
                <div class="part_title">{{ 'equipment.EmissionAnalyzer'|translate }}</div>
                <div class="display_wrap height_29" style="width: 100%;margin-top: 17px;">
                    <ng-container *ngFor="let item of discharge">
                        <div class="width_33 discharge">
                            {{item.name|translate}}
                            <div class="width_70 div_blue">
                                {{item.value}}
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="height_60" style="width: 100%;">
                    <div id="discharge_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px 0px 0px ;">

            <div class="thrid">
                <div class="part_title">{{'equipment.EnvironBinParam'|translate}}</div>
                <div class="height_25" style="display: flex;">
                    <!-- <div id="real_temperature_4" style="height: 100%;"></div>
                    <div id="real_temperature_5" style="height: 100%;"></div>
                    <div id="real_temperature_6" style="height: 100%;"></div>
                    <div class="width_25">
                        <p class="white_font">{{'equipment.temperature'|translate}}{{'equipment.setup'|translate}}:<span style="color: green;">22℃</span></p>
                        <p class="white_font">{{'equipment.humidity'|translate}}{{'equipment.setup'|translate}}:<span>22℃</span></p>
                        <p class="white_font">{{'equipment.pressDiff'|translate}}{{'equipment.setup'|translate}}:<span>22℃</span></p>
                    </div> -->
                    <div style="width: 100%;" id="temp_humidity_pressure"></div>
                </div>
                <div class="height_25">
                    <div id="discharge_chart_1" style="height: 100%;"></div>
                </div>
                <div class="height_20 display_wrap" style="padding-top: 4%;">
                    <ng-container *ngFor="let item of environmental_real_data.arr;let i = index">
                        <div class="width_33 " style="display: flex;">
                            <div class="width_70 font_w_too_long" title="{{ language?item.nameEn:item.name }}">
                                {{ language?item.nameEn:item.name }}:
                            </div>
                            <div id="circle" [ngStyle]="{'background':item.value == 1 ?'green':'black'}"></div>
                        </div>
                        <br>
                    </ng-container>
                </div>
                <div class="height_30 display_wrap">
                    <div class="font_w_20" title="{{ (language?item.titleEn:item.title)+'  '+ item.text}}" *ngFor="let item of outRenturnWind;let i = index">
                        <div style="height: 70%;" id="electric_chart_{{i}}"></div>
                        <div>{{language?item.titleEn:item.title}}</div>
                    </div>
                    <div class="font_w_20" style="display: flex;align-items: center;height: 76%;">
                        {{'equipment.loopFanRate' |translate}}:<br> {{environmental.ct_fun_hz_set}}
                        <br> {{'equipment.NewTrendFanRate' |translate}}:<br> {{environmental.xf_fun_hz_set}}
                    </div>
                </div>
            </div>
            <div class="height_33 bo" style="margin-top: 20px;position: relative;">
                <div class="part_title">{{'equipment.AVLSpeed'|translate}}</div>
                <div class="height_50" style="display: flex;">
                    <div *ngFor="let item of avl_speed" id="{{ item.id}}" class="height_100 width_25"></div>
                </div>
                <div class="height_50" id="avl_speed_chart_1">
                </div>
                <!-- <ngx-chart-curve-v3 #chart_1 [chartName]="'chart_1'" title="{{ 'equipment.AVLSpeed'|translate}}" (clicEvent)="clicEvent($event,1)" dashboardName='dashboard_1' [list]="[]">

                </ngx-chart-curve-v3> -->
            </div>
        </div>
    </div>
</div>