<div id="four_road">
    <div class="row" style="height: 100%;margin: 0;">
        <div class="col-md-4" style="padding: 0px 0px 0px 20px;">
            <div class="first_first" style="height: 41%;">
                <ngx-equipment-status [device]='deviceid_avl_speed' style="display: flex;width: 100%;"></ngx-equipment-status>
            </div>
            <div class="first_second lattice_layout" style="height: 20%;">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='deviceid_avl_speed' style="width: 100%;"></ngx-test-information>

            </div>
            <div class="dis_f_w first_third lattice_layout height_35">
                <ngx-log-warm [device]='deviceid_avl_speed' style="display: flex;width: 100%;flex-wrap: wrap;"></ngx-log-warm>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px;">
            <div class="sceond_fisrt height_28" style="padding-top: 0;">
                <div class="part_title">{{ 'equipment.equipIntroduce'|translate}}</div>
                <ngx-equip-introduce style="width: 100%;" [name]="introd_name" [equipIntroduceList]="equipIntroduceList"></ngx-equip-introduce>

                <!-- <div style="overflow: auto;width: 100%;position: relative;text-align: left;line-height: 18px;"> -->
                    <!-- <div style="text-indent: 2rem;text-align: left;">
                        两驱排放试验室于2017年7月建成并投入使用，拥有奥地利AVL公司的底盘测功机、全流稀释袋采排放分析系统，国内久鼎公司的高低温环境模拟舱设备。
                    </div>
                    <div style="text-indent: 2rem;text-align: left;">
                        可以开展轻型汽车国五、国六＆欧六常温、低温排放试验（含新能源汽车）、燃油消耗量、美国FTP75及SFTP75排放试验、动力性试验、整车标定测试等试验项目。
                    </div> -->
                    <!-- <div class="equipments_table height_99">
                         <div class="column_100">
                         <div class="border_top_1px column_35">名称 name</div>
                         <div class="border_top_1px column_65">基本参数 specifications</div>
                         </div>
                         <div class="column_100">
                            <div class="border_top_1px column_35">名称 name</div>
                            <div class="border_top_1px column_65">基本参数 specifications</div>
                            </div>
                         <div class="column_100">
                         <div class="border_top_1px column_35">滚筒直径</div>
                         <div class="border_top_1px column_65">1219mm（48英寸）
                         </div>
                         </div>
                         <div class="column_100">
                         <div class="border_top_1px column_35">转鼓外边缘长度
                         </div>
                         <div class="border_top_1px column_65">2743mm</div>
                         </div>
                         <div class="column_100">
                         <div class="border_top_1px column_35">转鼓内边缘长度
                         </div>
                         <div class="border_top_1px column_65">914mm
                         </div>
                         </div>
                         <div class="column_100">
                         <div class="border_top_1px column_35">惯量模拟范围
                         </div>
                         <div class="border_top_1px column_65">454～2724kg
                         </div>
                         </div>
                         <div class="column_100">
                            <div class="border_top_1px column_35">前轴最大持续功率
                            </div>
                            <div class="border_top_1px column_65">150kw
                            </div>
                            </div>
                            <div class="column_100">
                                <div class="border_top_1px column_35">最高车速
                                </div>
                                <div class="border_top_1px column_65">200km/h
                                </div>
                                </div>
                                <div class="column_100">
                                    <div class="border_top_1px column_35">风机风量
                                    </div>
                                    <div class="border_top_1px column_65">110000m3/h
                                    </div>
                                    </div>
                        <div class="column_100">
                            <div class="border_top_1px column_35">风机风速
                            </div>
                            <div class="border_top_1px column_65">140km/h
                            </div>
                            </div>
                            <div class="column_100">
                                <div class="border_top_1px column_35">风机出口尺寸
                                </div>
                                <div class="border_top_1px column_65">1000*850mm
                                </div>
                                </div>
                            <div class="column_100">
                                <div class="border_top_1px column_35">出口最低处到地面
                                </div>
                                <div class="border_top_1px column_65">100mm
                                </div>
                                </div>
                         </div> -->
                         <!-- <div class="equipments_table height_99">
                            <div class="column_100">
                                <div class="border_top_1px column_35">名称 name</div>
                                <div class="border_top_1px column_65">基本参数 specifications</div>
                            </div>
                            <div class="column_100">
                                <div class="border_top_1px column_35">舱尺寸</div>
                                <div class="border_top_1px column_65">17000x 7000 x 3500mm</div>
                            </div>
                            <div class="column_100">
                                <div class="border_top_1px column_35">温度控制范围</div>
                                <div class="border_top_1px column_65">-10°C ～ +30°C</div>
                            </div>
                            <div class="column_100">
                                <div class="border_top_1px column_35">温度控制精度  </div>
                                <div class="border_top_1px column_65">± 1°C</div>
                            </div>
                            <div class="column_100">
                                <div class="border_top_1px column_35">湿度控制范围</div>
                                <div class="border_top_1px column_65">30%～80%</div>
                            </div>
                            <div class="column_100">
                                <div class="border_top_1px column_35">湿度控制精度</div>
                                <div class="border_top_1px column_65">＜ ± 5%
                                </div>
                            </div>  
                        </div> -->
                        <!-- <div>
                            5、CH4分析仪：
                            <div style="text-indent: 2rem;">
                                分析仪型式：Cutter FID

                            </div>
                            <div style="text-indent: 2rem;">

                                量程：Min：0～10ppm；Max：0～3000ppm


                            </div>
                            <div style="text-indent: 2rem;">

                                线性度：≤ 2%R.S.

                                </div>
                            <div style="text-indent: 2rem;">

                                测量精度及重复精度：≤ 0.5%FS（对应每段量程的满量程）
                            </div>
                        </div> -->
                        <!-- <div>
                            4、THC分析仪：用于汽油应用:
                            <div style="text-indent: 2rem;">
                                分析仪型式：FID
                            </div>
                            <div style="text-indent: 2rem;">

                                量程：0～3,000ppmC1

                            </div>
                            <div style="text-indent: 2rem;">

                                最小量程为：10 ppmC1


                                </div>
                            <div style="text-indent: 2rem;">
                                线性度：≤ 2%RS
                            </div>
                            <div style="text-indent: 2rem;">

                                测量精度及重复精度：≤ 0.5%FS（对应每段量程的满量程）


                            </div>
                        </div> -->
                <!-- </div> -->
            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <div style="width: 100%;height: 100%;display: flex;
            align-items: center;
            justify-content: center;">
                    <!-- <img id="img" [src]="img.url" [alt]="img.name"> -->

                    <div id="img">
                        <ngx-pubvideo #pubvideo style="width: 100%;
                        height: 100%;"></ngx-pubvideo>

                    </div>
                    
                </div>
            </div>
            <div class="sceond_third height_35" style="position: relative;flex-wrap: wrap;padding-top: 0%; margin-top: 20px;">
                <div class="part_title">{{ 'equipment.EmissionAnalyzer'|translate }}</div>
                <div class="display_wrap height_29" style="width: 100%;margin-top: 17px;">
                    <ng-container *ngFor="let item of discharge">
                        <div class="width_33 discharge">
                            {{item.name|translate}}
                            <div class="width_70 div_blue">
                                {{item.value}}ppm
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="height_60" style="width: 100%;">
                    <div id="discharge_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px 0px 0px ;">

            <div class="thrid">
                <div class="part_title">{{'equipment.EnvironBinParam'|translate}}</div>
                <div class="height_25" style="display: flex;">
                    <!-- <div id="real_temperature_4" style="height: 100%;"></div>
                    <div id="real_temperature_5" style="height: 100%;"></div>
                    <div id="real_temperature_6" style="height: 100%;"></div>
                    <div class="width_25">
                        <p class="white_font">{{'equipment.temperature'|translate}}{{'equipment.setup'|translate}}:<span style="color: green;">22℃</span></p>
                        <p class="white_font">{{'equipment.humidity'|translate}}{{'equipment.setup'|translate}}:<span>22℃</span></p>
                        <p class="white_font">{{'equipment.pressDiff'|translate}}{{'equipment.setup'|translate}}:<span>22℃</span></p>
                    </div> -->
                    <div style="width: 100%;" id="temp_humidity_pressure"></div>
                </div>
                <div class="height_25">
                    <div id="discharge_chart_1" style="height: 100%;"></div>
                </div>
                <div class="height_20 display_wrap" style="padding-top: 4%;">
                    <ng-container *ngFor="let item of environmental_real_data.arr;let i = index">
                        <div class="width_33 " style="display: flex;">
                            <div class="width_70 font_w_too_long" title="{{ language?item.nameEn:item.name }}">
                                {{ language?item.nameEn:item.name }}:
                            </div>
                            <div id="circle" [ngStyle]="{'background':item.value == 1 ?'#07ef07':'black'}"></div>
                        </div>
                        <br>
                    </ng-container>
                </div>
                <div class="height_30 display_wrap">
                    <div class="font_w_20" title="{{ (language?item.titleEn:item.title)+'  '+ item.text}}" *ngFor="let item of outRenturnWind;let i = index">
                        <div style="height: 70%;" id="electric_chart_{{i}}"></div>
                        <div>{{language?item.titleEn:item.title}}</div>
                    </div>
                    <div class="font_w_20" style="display: flex;align-items: center;height: 76%;">
                        {{'equipment.loopFanRate' |translate}}:<br> {{environmental.ct_fun_hz_set}}Hz
                        <br> {{'equipment.NewTrendFanRate' |translate}}:<br> {{environmental.xf_fun_hz_set}}Hz
                    </div>
                </div>
            </div>
            <div class="height_35 bo" style="margin-top: 20px;position: relative;padding-top: 20px;padding-bottom: 5px;">
                <div class="part_title">AVL转鼓</div>
                <div class="height_50" style="display: flex;justify-content: center;">
                    <div *ngFor="let item of avl_speed" id="{{ item.id}}" class="height_100 width_25"></div>
                </div>
                <div class="height_50" id="avl_speed_chart_1">
                </div>
                <!-- <ngx-chart-curve-v3 #chart_1 [chartName]="'chart_1'" title="{{ 'equipment.AVLSpeed'|translate}}" (clicEvent)="clicEvent($event,1)" dashboardName='dashboard_1' [list]="[]">

                </ngx-chart-curve-v3> -->
            </div>
        </div>
    </div>
</div>