<div class="row" style="width: 400px;">
    <div class="col-md-6" style="padding-right: 0px;">
        <!-- 科室 -->
        <div style="position: relative;margin-right: 10px;" class="tree_isShow">
            <input type="text" name="temperature_group_room_group" required="" lay-verify="required" 
            placeholder="group_room_group_title" readonly="" autocomplete="off" 
            class="layui-input temperature_group_room_group" style="margin-left: 2px;line-height: 16px;" 
            >
            
            <i class="layui-icon layui-icon-down single_xiala" id="group_room_group_i" style="font-size: 12px;"></i>

            <div class="single_eleTree group_room_group" style="width: 354px;" lay-filter="group_room_group_select"></div>
        </div>
    </div>

    <div class="col-md-6" style="padding-left: 0px;">
        <!-- 房间号 -->
        <div style="position: relative;" class="tree_isShow">
            <input type="text" name="temperature_group_room_room" required="" lay-verify="required" 
            placeholder="group_room_room_title" readonly="" autocomplete="off" 
            class="layui-input temperature_group_room_room" style="margin-left: 2px;line-height: 16px;" 
            >
          
            <i class="layui-icon layui-icon-down single_xiala" id="group_room_room_i" style="font-size: 12px;"></i>

            <div class="single_eleTree group_room_room" style="width: 186px;" lay-filter="group_room_room_select"></div>
        </div>
    </div>
</div>