<nb-card style="width: 870px;" size="larger" [nbSpinner]="loading"
    nbSpinnerStatus="danger"
    nbSpinnerSize="large"
    nbSpinnerMessage=""
>
  <nb-card-header>
    <div class="row">
      <div class="col-md-3">{{title}}</div>
        <div class="col-md-7"></div>
        <div class="col-md-2" style="text-align: right;">
            <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon>
        </div>
    </div>
  </nb-card-header>

  <nb-card-body>
      
    <form class="layui-form" action="" lay-filter="device">


        <div class="layui-form-item">
            <!-- 设备编号 deviceno -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">设备编号</label>
                <div class="layui-input-block">
                <input type="text" name="deviceno" required  lay-verify="required|deviceno" placeholder="设备编号" autocomplete="off" class="layui-input">
                </div>
            </div>
            <!-- 设备名称 devicename -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">设备名称</label>
                <div class="layui-input-block">
                    <input type="text" name="devicename" required  lay-verify="required|devicename" placeholder="设备名称" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <!-- 设备类型 type -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">设备类型</label>
                <div class="layui-input-block">
                    <select name="type" lay-verify="">
                        <option value="">请选择一个设备类型</option>
                        <option value=1>台架设备</option>
                        <option value=2>移动资产</option>
                        <option value=3>举升机</option>
                    </select>  
                </div>
            </div>

            <!-- 设备id -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">设备ID</label>
                <div class="layui-input-block">
                    <input type="text" name="deviceid" required  lay-verify="required|deviceid" placeholder="设备ID" autocomplete="off" class="layui-input">
                </div>
            </div>

            
        </div>
        
        <div class="layui-form-item">
            <!-- 存放地点 location -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">存放地点</label>
                <div class="layui-input-block">
                    <input type="text" name="location" required  lay-verify="required|location" placeholder="存放地点" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!-- 是否启用 active -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">是否启用</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="active" lay-skin="switch" lay-text="是|否" value="1">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <!-- 科室功能组 groups -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">科室/功能组</label>
                <div class="layui-input-block">
                    <!-- 单选！ --> 
                    <select id="groups" name="groups" lay-verify="" class="caidantype">
                        <option *ngFor="let item of groups" [value]=item.id>{{item.group}}</option>
                    </select> 
                </div>
            </div>

            <!-- 归属人 belonged -->
            <div class="layui-inline" style="width: 46%;height: 66px;">
                <label class="layui-form-label mylabel mulu_title">归属人&nbsp;&nbsp;</label>
                <div class="layui-input-block">
                    <input type="text" name="belonged" required  lay-verify="required|belonged" placeholder="归属人" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        
        <div class="layui-form-item">
            <!-- 供应商 supplier -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">供应商</label>
                <div class="layui-input-block">
                    <input type="text" name="supplier" required  lay-verify="required|supplier" placeholder="供应商" autocomplete="off" class="layui-input">
                </div>
            </div>

            <!-- 设备ABC分类 下拉 -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">设备ABC分类</label>
                <div class="layui-input-block">
                    <!-- 单选！ --> 
                    <select id="groups" name="linklevel" lay-verify="" class="caidantype">
                        <option *ngFor="let item of linklevels" [value]=item.id>{{item.linklevel}}</option>
                    </select> 
                </div>
            </div>

        </div>
        
        <div class="layui-form-item">
            <!-- 设备统计归类 devicetype -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">设备统计归类</label>
                <div class="layui-input-block">
                    <select name="devicetype" lay-verify="devicetype" >
                        <option value=1>性能</option>
                        <option value=2>耐久</option>
                        <option value=3>其它</option>
                    </select>
                </div>
            </div>

            <!-- 是否纳入KPI计算 -->
            <div class="layui-inline" style="width: 46%;">
                <label class="layui-form-label mylabel mulu_title">是否纳入KPI计算</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="iscalkpi" lay-skin="switch" lay-text="是|否" value="1">
                </div>
            </div>
        </div>
        



        <div class="layui-form-item">
            <div class="layui-row"style="text-align: end;">
                
                <div class="layui-inline">
                  <div class="layui-input-inline">
                      <!-- (click)="confirm()" -->
                      <button class="layui-btn layui-btn-primary" (click)="cancel()">取消</button>
                      <button type="submit" class="layui-btn" lay-submit="" lay-filter="device" >确定</button>
                  </div>
                </div>
                
            </div>
        </div>
    </form>
    
  </nb-card-body>
</nb-card>
