<nb-card style="width: 800px;">
    <nb-card-header>
        <div class="row">
          <div class="col-md-4">新增试验任务信息</div>
            <div class="col-md-6"></div>
            <div class="col-md-2" style="text-align: right;">
                <nb-icon icon="close-outline" style="cursor: pointer;" (click)="closedialog()"></nb-icon>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <!-- 试验任务信息 -->
        <div class="row">
            <div class="col-lg-3 test_task_info_title" >
                <span>试验任务信息：</span>
            </div>
            <div class="col-lg-9" >
            </div>
        </div>

        <form class="layui-form" action="" lay-filter="test_task_info">
            <div class="layui-form-item">
                <div class="layui-inline test_task_info_left">
                  <label class="layui-form-label mylabel mulu_title">试验任务编号：</label>
                  <div class="layui-input-block">
                    <input type="text" name="tasknum"  lay-verify="required|tasknum" placeholder="WT0893-202011" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-inline test_task_info_right">
                  <label class="layui-form-label mylabel mulu_title">样件编号：</label>
                  <div class="layui-input-block">
                    <input type="text" name="exemplarnumbers"  lay-verify="required|exemplarnumbers" placeholder="YP-1888-202011" autocomplete="off" class="layui-input">
                  </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline test_task_info_left">
                  <label class="layui-form-label mylabel mulu_title">试验条目编号：</label>
                  <div class="layui-input-block">
                    <input type="text" name="taskitemnumbers"  lay-verify="required|taskitemnumbers" placeholder="001" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-inline test_task_info_right">
                  <label class="layui-form-label mylabel mulu_title">试验名称：</label>
                  <div class="layui-input-block">
                    <input type="text" name="devicetaskname"  lay-verify="required|devicetaskname" placeholder="试验名称" autocomplete="off" class="layui-input">
                  </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline test_task_info_left">
                  <label class="layui-form-label mylabel mulu_title">试验执行人：</label>
                  <div class="layui-input-block">
                    <input type="text" name="executor"  lay-verify="required|executor" placeholder="试验执行人" autocomplete="off" class="layui-input">
                  </div>
                </div>
            </div>

            <!-- 当前主设备信息 -->
            <div class="row">
              <div class="col-lg-3 test_task_info_title" >
                  <span>当前主设备信息：</span>
              </div>
              <div class="col-lg-9" >
              </div>
            </div>

            <!-- 功能组 下拉 -->
            <!-- 设备名称 下拉 -->
            <!-- 设备编号，根据选的 设备名称自动填充 -->
            <ngx-group-devices #groups_devices></ngx-group-devices>

            <div class="layui-form-item">
                <div class="layui-inline test_task_info_left">
                  <label class="layui-form-label mylabel mulu_title">样件三级编号：</label>
                  <div class="layui-input-block">
                    <input type="text" name="exemplarchildnumbers"  lay-verify="required|taskitemnumbers" placeholder="样件三级编号" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-inline">
                  <label class="layui-form-label mylabel mulu_title">样件名称：</label>
                  <div class="layui-input-block">
                    <input type="text" name="exemplarname"  lay-verify="required|exemplarname" placeholder="样件名称" autocomplete="off" class="layui-input">
                  </div>
                </div>

                <div class="layui-inline">
                    <button type="submit" class="add layui-btn" lay-submit="" lay-filter="add">新增</button>
                </div>
            </div>
        </form>


        
        <!-- 当前输入试验信息预览 -->
        <div class="row" style="margin-top: 10px;">
            <div class="col-lg-3 test_task_info_title" >
                <span>当前输入试验信息预览：</span>
            </div>
            <div class="col-lg-9" >
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label class="layui-form-label mylabel ">试验编号：</label>
                <div class="yulan_span" >{{previewinfodata.taskchildnum}}</div>
            </div>
            <div class="col-md-6">
                <label class="layui-form-label mylabel">设备编号：</label>
                <div class="yulan_span ">{{previewinfodata.devicenum}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <label class="layui-form-label mylabel ">试验名称：</label>
                <div class="yulan_span ">{{previewinfodata.devicetaskname}}</div>
            </div>
            <div class="col-md-4">
                <label class="layui-form-label mylabel ">设备名称：</label>
                <div class="yulan_span ">{{previewinfodata.devicename}}</div>
            </div>
            <div class="col-md-4">
                <label class="layui-form-label mylabel ">执行人：</label>
                <div class="yulan_span ">{{previewinfodata.executor}}</div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <label class="layui-form-label mylabel ">样件信息：</label>
                <div class="exemplar yulan">
                  <span style="display: block;" *ngFor= "let item of previewinfodata.taskmessage">{{item}}</span>
                </div>
            </div>
        </div>

        <!-- button 取消、确定 -->
        <div class="layui-form-item">
            <div class="layui-row" style="text-align: end;">
                <div class="layui-inline">
                  <div class="layui-input-inline">
                  </div>
                </div>
                <div class="layui-inline">
                  <div class="layui-input-inline">
                      <button class="layui-btn layui-btn-primary" (click)="cancel()">取消</button>
                      <button type="submit" class="layui-btn" lay-submit="" lay-filter="confirm" >确定</button>
                  </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>