@import '../../../../assets/pages/home/css/eim-home-iconfont.css';
.tupian,.tupian_title{
    text-align: center;

}
.tupian_title{
    font-size: x-small;
}

.col-md-4{
    text-align: center;
    padding: 0% 10%;

}
.shortcut_item:hover{
    cursor: pointer;
    background-color: aquamarine;
}