<!-- <p>table-option works!</p> -->
<div class="row" style="padding: 0px 0px 0px 7px;">
    
    <div class="col-lg-3" style="padding: 0px;">
        <button nbButton fullWidth size="small" status="info" (click)="edit()"> 编辑 </button>
    </div>
    <div class="col-lg-3" style="padding: 0px;margin: 0px 10px;">
        <button nbButton fullWidth size="small" status="info" (click)="order()"> 设备指令 </button>
    </div>
    <div class="col-lg-3" style="padding: 0px;">
        <button nbButton fullWidth size="small" status="info" (click)="detail()"> 设备详情 </button>
    </div>
</div>
