<div class="row" style="padding: 0px 8px;">
    <!-- <div class="col-lg-3" style="padding: 0px;">
        <button nbButton fullWidth size="small" status="info" (click)="edit()"> 编辑 </button>
    </div>
    <div class="col-lg-3" style="padding: 0px;margin: 0px 10px;">
        <button nbButton fullWidth size="small" status="info" (click)="order()"> 设备指令 </button>
    </div> -->
    <div class="col-lg-12" style="padding: 0px;">
        <button nbButton fullWidth size="small" status="info" (click)="detail()"> 历史位置 </button>
    </div>
</div>
