<div class="row">
    <!-- 编辑 -->
    <div class="col-lg-4" style="padding: 0px;">
        <button class="buedit edit-edit" (click)="edit()" type="button">
            <!-- <a class="edit action"  >
                <i class="nb-edit" style="font-size: 35px;"></i>
            </a> -->
            <!-- warning -->
            编辑
        </button>
    </div>

    <div class="col-lg-4" style="padding: 0px;">
        <button nbButton  status="success" size="small" class="tesk_detail" (click)="detail()">详情</button>
    </div>
    <div class="col-lg-4" style="padding: 0px;">
        <button nbButton status="info" size="small" (click)="change_target_hour()" class="tesk_execute">执行
            <!-- <a class="edit action"  >
                <i class="nb-edit" style="font-size: 35px;"></i>
            </a> -->
        </button>
    </div>
    

</div>