.mylabel{
    padding: 9px 0px;
    text-align: inherit !important;
}
// 科室/功能组
.test_task_conf_add_inline_group{
    width: 35%;
    div{
        margin-left: 90px;
    }
}
.test_task_conf_add_inline{
    width: 30%!important;
    div{
        margin-left: 90px;
    }
}

