// 必填
.mulu_title::before{
    content: "*";
    color: #ff4949;
    margin-right: 4px;
}

.mylabel{
    padding: 9px 0px;
    text-align: inherit !important;
}

.setting_employee{
    width: 800px;
    overflow-y: auto;
}

.layui-input-block {
    margin-left: 90px;
    min-height: 36px;
}