.button_item{
    margin: 0px 10px 10px 0px;
}

.gongneng_keshi{
    width: 168px;
    line-height: 29px;
    // border: 1px pink solid;
}

// echart
.alert_trend,.alert_statistics{
    border: 1px pink solid;
    min-height: 300px;
}