<div id="rtmv2">
    <!-- 主题 -->
    <div class="row content" style="padding: 0 11px;">
        <!-- 主体-第一列 -->
        <div class="col-md-3" style="padding: 0px;height: 100%;">


            <!-- 试验设备总理与分布 -->
            <div class="chunk" style="height: 47%;">
                <div class="part_title">试验设备总数与分布</div>
                <div class="key-index" id="key-index"></div>
            </div>

            <!-- 设备活跃度 -->
            <div class="chunk" style="height: 50%;">
                <div class="part_title">设备活跃度</div>
                <div class="warning-information ">
                    <div class="deviceactivetitle">
                        <div class="row" style="margin: 0px;">
                            <div class="col-lg-4 ">
                                <div class="title">当前在线数量(个)</div>
                                <div class="title_value">{{device_active_data[1][0]}}</div>
                            </div>
                            <div class="col-lg-4">
                                <div class="title">今日活跃数量(个)</div>
                                <div class="title_value">{{device_active_data[1][1]}}</div>
                            </div>
                            <div class="col-lg-4">
                                <div class="title">今日活跃率(%)</div>
                                <div class="title_value">{{device_active_data[1][2]}}%</div>
                            </div>
                        </div>
                    </div>
                    <div class="device_active" id="device_active"></div>

                </div>
            </div>
        </div>

        <!-- 主体第二列 -->
        <div class="col-md-6 two_content" style="height: 100%;">
            <div class="chunk info">
                <div class="part_title">研究总院介绍</div>
                <div class="part_title_image">
                    <img src="assets/pages/device-inline/images/two/totalInfo.png">
                </div>
            </div>
            <div class="nibo_map" style="position: relative;color: black;">
                <!-- 新能源电机器试验室 -->
                <div class="newpower {{authority.energy?'':'not_click'}}" (click)="goto_test_room( 'newpower') ">
                    <span>新能源电机试验室</span>
                </div>

                <!-- 噪声sys -->
                <div class="noise {{authority.noise? '': 'not_click'}} " (click)="goto_test_room('noise')">
                    <span>噪声与振动试验室</span>
                </div>

                <!-- 电子电气 -->
                <!-- <div class="electrical" (click)="goto_test_room('electrical')">
                    <span>电子电气试验室</span>
                </div> -->

                <!-- 理化sys -->
                <div class="physicochemical {{authority.physical?'':'not_click'}}" (click)="goto_test_room('physicochemical')">
                    <span>理化试验室</span>
                </div>

                <!-- 结构sys -->
                <div class="structural {{authority.structural?'':'not_click'}}" (click)="goto_test_room( 'structural') ">
                    <span>结构试验室</span>
                </div>

                <!-- 环模sys -->
                <div class="environment {{authority.environment? '': 'not_click'}} " (click)="goto_test_room('environment')">
                    <span>环模试验室</span>
                </div>



                <!-- <div class="group bubble tag4 noiseshock" (click)="goto_test_room('noiseshock')">
                    <span>工程中心-理化与环保试验室</span>
                </div> -->



            </div>
        </div>

        <!-- 主题第三列 -->
        <div class="col-md-3" style="padding: 0px;height: 100%;">

            <div class="chunk" style="height: 47%;">
                <div class="part_title">试验条目状态</div>
                <div class="device-rate ">
                </div>
            </div>
            <div class="chunk" style="height: 50%;">
                <div class="part_title">VMDS</div>
                <div class="geely-info "></div>
            </div>
        </div>
    </div>

    <!-- 底部图 -->
    <div class="row row_buttom" style="padding: 0 11px; margin: 0px;">
        <!-- <img src="assets/pages/device-inline/images/one/onebj_buttom2.jpg" alt="header"> -->
    </div>

</div>