<div id="rtmv2">
    <!-- 主题 -->
    <div class="row content" style="padding: 0 11px;">
        <!-- 主体-第一列 -->
        <div class="col-md-3" style="padding: 0px;height: 100%;">


            <!-- 试验设备总理与分布 -->
            <div class="chunk" style="height: 48%;">
                <div class="part_title">试验设备总数与分布</div>
                <div class="key-index" id="key-index"></div>
            </div>

            <!-- 设备活跃度 -->
            <div class="chunk" style="height: 50%;margin-top: 10px;">
                <div class="part_title">设备活跃度</div>
                <div class="warning-information ">
                    <div class="deviceactivetitle">
                        <div class="row" style="margin: 0px;">
                            <div class="col-lg-4 ">
                                <div class="title">当前在线数量(个)</div>
                                <div class="title_value">{{device_active_data[1][0]}}</div>
                            </div>
                            <div class="col-lg-4">
                                <div class="title">今日活跃数量(个)</div>
                                <div class="title_value">{{device_active_data[1][1]}}</div>
                            </div>
                            <div class="col-lg-4">
                                <div class="title">今日活跃率(%)</div>
                                <div class="title_value">{{device_active_data[1][2]}}%</div>
                            </div>
                        </div>
                    </div>
                    <div class="device_active" id="device_active"></div>

                </div>
            </div>
        </div>

        <!-- 主体第二列 -->
        <div class="col-md-6 two_content" style="height: 100%;">
            
            <div class="nibo_map" style="position: relative;color: black;font-size: 0.7rem;">
                <div class="w" style="top: 12%;left: 23%;" ></div>
                <div class="w" style="top: 7%;left: 30%;" ></div>
                <div class="w" style="top: 2%;left: 39%;" ></div>
                <div class="w" style="top: 19%;left: 29%;" ></div>
                <div class="w" style="top: 12%;left: 45%;" ></div>

                <ng-container *ngFor="let item of authorityList;let i =index">
                    <div  class="{{item.class}} {{item.show?'':'not_click'}}"  (click)="goto_test_room( item) ">
                        <span>{{item.title}}</span>
                    </div>
                </ng-container>
                 
                <!-- 新能源电机器试验室 -->
                <!-- <div class="newpower {{authority.energy?'':'not_click'}}" (click)="goto_test_room( 'newpower') ">
                    <span>新能源电机试验室</span>
                </div> -->

                <!-- 噪声sys -->
                <!-- <div class="noise {{authority.noise? '': 'not_click'}} " (click)="goto_test_room('noise')">
                    <span>噪声与振动试验室</span>
                </div> -->

               

                <!-- 理化sys -->
                <!-- <div class="physicochemical {{authority.physical?'':'not_click'}}" (click)="goto_test_room('physicochemical')">
                    <span>理化试验室</span>
                </div> -->

                <!-- 结构sys -->
                <!-- <div class="structural {{authority.structural?'':'not_click'}}" (click)="goto_test_room( 'structural') ">
                    <span>结构试验室</span>
                </div> -->

                <!-- 环模sys -->
                <!-- <div class="environment {{authority.environment? '': 'not_click'}} " (click)="goto_test_room('environment')">
                    <span>环模试验室</span>
                </div> -->



                <!-- <div class="group bubble tag4 noiseshock" (click)="goto_test_room('noiseshock')">
                    <span>工程中心-理化与环保试验室</span>
                </div> -->



            </div>
            <div class="chunk info">
                <div class="part_title">设备汇总信息</div>

                <!-- 数量 -->
                <div class="row numbers">
                    <div class="alert_number">
                        <span>监控设备数量: 40台</span>
                        <span>当前报警数量: 200条</span>
                        <span>已解除数量: 2000条</span>
                    </div>
                </div>
                <!-- 数量echar -->
                <div class="row numbers_echart">
                    <div class="col-md-5" id="tj_test_number">
                    </div>
                    <div class="col-md-7" id="tj_test_number_line">
                    </div>
                </div>
            </div>
        </div>


        <!-- 主题第三列 -->
        <div class="col-md-3" style="padding: 0px;height: 100%;">

            <div class="chunk" style="height: 48%;">
                <div class="part_title">试验条目状态</div>
                <div class="device-rate ">
                </div>
            </div>
            <div class="chunk" style="height: 50%;">
                <div class="part_title">报警区域显示</div>
                <div class="geely-info ">
                    <div class="geely-info-left">
                        <div *ngFor="let item of laboratory;let i = index" 
                        [ngStyle]="{background: item.errornum > 0 ?'#F04E39':'',
                        'border-right':i%3 == 2 || laboratory.length-1 == i?'2px solid #316093':''}">
                            {{ item.name||'' }}
                        </div>
                    </div>
                    <div class="geely-info-right">
                        <div class="geely-info-right-top">切换监控</div>
                        <div></div>
                        <div>
                            <div class="geely-info-right-bottom" [ngStyle]="{background: !laboratory_now_error?'#F04E39':''}">无报警</div>
                            <div class="geely-info-right-bottom" [ngStyle]="{background: laboratory_now_error?'#F04E39':''}">有报警</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 底部图 -->
    <div class="row row_buttom" style="padding: 0 11px; margin: 0px;">
        <!-- <img src="assets/pages/device-inline/images/one/onebj_buttom2.jpg" alt="header"> -->
    </div>

</div>