// 中间气泡的背景色
$tag-background-color:rgb(246, 107, 49);
#rtmv2 {
    // 1920*1080
    // background: url('/assets/pages/device-inline/images/one/bei-jin.jpg') ;
    background-color: #003E61;
    min-height: 900px;
    padding-bottom: 5px;
    height: 100%;
    // 头部
    .head {
        position: relative;
        height: 50px;
        margin-bottom: 15px;
        img {
            width: 100%;
            height: 100%;
        }
        h4 {
            position: absolute;
            top: 9px;
            left: 42%;
            color: #f6f6f9;
        }
        // 首页==时间
        .home-time {
            height: 10px;
            line-height: 10px;
            color: rgb(238, 227, 227);
        }
    }
    .home {
        cursor: pointer;
    }
    .home:hover {
        background: #6ac544;
    }
}

// 返回首页、时间日期
.device_inline_title {
    font-family: cursive;
    color: #08CBFA;
    font-size: 20px;
}

// 块元素 样式！
.chunk {
    position: relative;
    border-width: 1px;
    border-color: rgb(100, 116, 211);
    border-style: solid;
    background-color: rgba(100, 116, 211, 0.402);
    width: 100%;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 0 3.2vh 1.34vh #365f96b3 inset;
}

// newpower 新能源与电子电气试验室
.newpower {
    position: absolute;
    padding: 2px;
    top: 4%;
    left: 5%;
    height: 8%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}

// 电子电气实验室
.electrical {
    position: absolute;
    padding: 2px;
    top: 4%;
    left: 43%;
    height: 8%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}

// structural 结构试验室
.structural {
    position: absolute;
    padding: 2px;
    top: 42%;
    left: 43%;
    height: 8%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}

// 噪声实验室
.noise {
    position: absolute;
    padding: 2px;
    top: 4%;
    left: 23%;
    height: 8%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}

// environment 环模试验室
.environment {
    position: absolute;
    padding: 2px;
    top: 42%;
    left: 62%;
    height: 8%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}

// physicochemical 理化试验室
.physicochemical {
    position: absolute;
    padding: 2px;
    top: 4%;
    left: 62%;
    height: 8%;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
}

.noiseshock {
    left: 41%;
    top: 5%;
    width: 20%;
    height: 9%;
    position: absolute;
    .noiseshock_line {
        width: 43px;
        height: 2px;
        border-color: #6474d3;
        background-color: #2033a7;
        border-width: 1px;
        transform: rotateZ(-60deg);
        top: 117%;
        left: 18%;
        position: absolute;
    }
}

.physicochemical:hover,
.environment:hover,
.structural:hover,
.newpower:hover,
.noiseshock:hover,
.noise:hover,
.electrical:hover {
    cursor: pointer;
    // background-color: #28548f;
}

// 标题
.part_title {
    position: absolute;
    padding: 0 2%;
    height: 20px;
    color: #ffffff;
    background: #4472c4;
    top: 0;
    left: 0;
    min-width: 80px;
}

// icon
nb-icon {
    background: rgba(22, 67, 127, 1);
    cursor: pointer;
    width: 53px;
    height: 53px;
}

// 主体部分
.content {
    // min-height: 995px;
    height: 95%;
    min-height: 76%;
    margin: 0px;
    // 关键指标
    .key-index {
        // border: 1px red solid;
        margin-left: 0%;
        // height: 40%;
        height: 100%;
        width: 100%;
    }
    // 预警信息
    .warning-information {
        margin-left: 0%;
        margin-top: 10px;
        // height: 44%;
        height: 100%;
        width: 100%;
        padding: 5px;
        .warning-title {
            color: #fff;
            font-size: 12px;
            margin: 3px 0px;
        }
    }
    .two_content {
        // min-height: 700px;
        padding: 0 10px;
        // 介绍
        .info {
            height: 40%;
            // border: 1px pink solid;
            margin-bottom: 10px;
        }
        // map地图
        .nibo_map {
            background: url('/assets/pages/device-inline/images/two/map1.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 57%;
            border: 1px rgb(250, 246, 34) solid;
            position: relative;
            #jiegou {
                position: absolute;
                top: 91px;
                left: 268px;
            }
            #huanbao {
                position: absolute;
                top: 91px;
                left: 300px;
            }
            #huanbao:hover {
                cursor: pointer;
                img {
                    background-color: #08CBFA;
                }
            }
            #jiegou:hover {
                cursor: pointer;
                img {
                    background-color: #08CBFA;
                }
            }
        }
    }
    // 设备开动率、设备完好率
    .device-rate {
        margin-left: 0%;
        // height: 40%;
        // height: 374px;
        height: 100%;
        width: 100%;
    }
    // 未激活xx率
    .span_noactive {
        border-radius: 5px;
        padding: 5px;
        background: #2eab7d;
    }
    // 激活设备xxlv
    .span_active {
        border-radius: 5px;
        padding: 5px;
        background: #6ac544;
    }
    // geely介绍信息
    .geely-info {
        margin-left: 0%;
        margin-top: 10px;
        // height: 44%;
        // height: 411px;
        height: 100%;
        width: 100%;
    }
}

.row_buttom {
    background: url('assets/pages/device-inline/images/one/onebj_buttom3.png') no-repeat;
    background-repeat: no-repeat;
    height: 5%;
    background-position-y: 29%;
}

.row_buttom::before{
    content: ""; 
    display: flex; 
    padding-bottom: 10%;
    img{
        position: absolute; 
        top: 0; 
        left: 0; 
        bottom: 0; 
        right: 0; 
        width:100%; 
        height:100%; 
    }
}

// .row_buttom {
//     // min-height: 11%;
//     background: url('assets/pages/device-inline/images/one/onebj_buttom2.jpg')no-repeat;
//     background-size: 100% 100%;
//     height: 5%;
//     margin: 0;
//     img {
//         width: 100%;
//         height: 100%;
//     }

//     // 


// }