#rtmv2 {
    // 1920*1080
    // background: url('/assets/pages/device-inline/images/one/bei-jin.jpg') ;
    // background-color: #003E61;
    // min-height: 900px;
    // padding-bottom: 5px;
    height: 100%;
    // 头部
    .head {
        position: relative;
        height: 50px;
        margin-bottom: 15px;
        img {
            width: 100%;
            height: 100%;
        }
        h4 {
            position: absolute;
            top: 9px;
            left: 42%;
            color: #f6f6f9;
        }
        // 首页==时间
        .home-time {
            height: 10px;
            line-height: 10px;
            color: rgb(238, 227, 227);
        }
    }
    .home {
        cursor: pointer;
    }
    .home:hover {
        background: #6ac544;
    }
}

// 返回首页、时间日期
.device_inline_title {
    font-family: cursive;
    color: #08CBFA;
    font-size: 20px;
}

// 块元素 样式！
.chunk {
    position: relative;
    // border-width: 1px;
    // border-color: rgb(100, 116, 211);
    // border-style: solid;
    // background-color: rgba(100, 116, 211, 0.402);
    background: url('/assets/eimdoard/equipment/images/blue_beijing.png') center center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    text-align: center;
    // margin-top: 10px;
    // box-shadow: 0 0 3.2vh 1.34vh #365f96b3 inset;
}

// newpower 新能源与电子电气试验室
.energy {
    position: absolute;
    padding: 2px;
    top: 15%;
    left: 25%;
    // font-size: 13px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    // border: 1px solid;

    width: 14%;
    height: 5%;
    background: #f4ecec;
    
}

// 电子电气实验室
.electrical {
    position: absolute;
    padding: 2px;
    top: 11%;
    left: 26%;
    // font-size: 13px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 16%;
    border: 1px solid;
    height: 5%;
    background: #f4ecec;
}

// structural 结构试验室
.structural {
    position: absolute;
    padding: 2px;
    top: 22%;
    left: 34%;
    // font-size: 13px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    // border: 1px solid;
    width: 11%;
    height: 5%;
    background: #f4ecec;
}

.not_click {
    pointer-events: none;
    color: rgba(1, 1, 1, 0.3);
}

// 噪声实验室
.noise {
    position: absolute;
    padding: 2px;
    top: 9.5%;
    left: 33%;
    // font-size: 13px;
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    // border: 1px solid;

    width: 14%;
    height: 5%;
    background: #f4ecec;
}

// environment 环模试验室
.environment {
    position: absolute;
    padding: 2px;
    top: 14%;
    left: 50%;
    // font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    // border: 1px solid;

    width: 11%;
    height: 5%;
    background: #f4ecec;
}

// physicochemical 理化试验室
.physical {
    position: absolute;
    padding: 2px;
    top: 4.2%;
    left: 44%;
    // font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    // border: 1px solid;

    width: 11%;
    height: 5%;
    background: #f4ecec;
}

.noiseshock {
    left: 41%;
    top: 5%;
    width: 20%;
    height: 9%;
    position: absolute;
    .noiseshock_line {
        width: 43px;
        height: 2px;
        border-color: #6474d3;
        background-color: #2033a7;
        border-width: 1px;
        transform: rotateZ(-60deg);
        top: 117%;
        left: 18%;
        position: absolute;
    }
}

.physicochemical:hover,
.environment:hover,
.structural:hover,
.energy:hover,
.noiseshock:hover,
.noise:hover,
.electrical:hover {
    cursor: pointer;
    // background-color: #28548f;
}

// 标题
.part_title {
    position: absolute;
    padding: 0 2%;
    height: 20px;
    color: #ffffff;
    background: #4472c4;
    top: 0;
    left: 0;
    min-width: 80px;
}

// icon
nb-icon {
    background: rgba(22, 67, 127, 1);
    cursor: pointer;
    width: 53px;
    height: 53px;
}

// 主体部分
.content {
    // min-height: 995px;
    height: 92%;
    min-height: 76%;
    margin: 0px;
    // 关键指标
    .key-index {
        // min-width: 334px;
        // max-width: 470px;
        // min-height: 389px;
        // border: 1px red solid;
        margin-left: 0%;
        // height: 40%;
        height: 100%;
        width: 100%;
    }
    .warning-information {
        height: 100%;
    }
    // 设备活跃的
    .deviceactivetitle {
        .col-lg-4 {
            margin-top: 40px;
            padding: 0px 5px 0px 5px;
            .title {
                color: #ffffff;
                font-size: medium;
                text-align: center;
                font-weight: bold,
            }
            ;
            .title_value {
                margin-top: 5px;
                color: #ffffff;
                font-size: smaller;
                text-align: center;
            }
        }
        height: 24%;
    }
    .device_active {
        // min-width: 334px;
        // max-width: 398px;
        // min-height: 307px;
        // max-width: 470px;
        height: 76%;
        width: 100%;
    }
    .two_content {
        // min-height: 700px;
        padding: 0 10px;
        // 介绍
        .info {
            height: 41%;
            // border: 1px pink solid;
            margin-bottom: 10px;
            .part_title_image {
                width: 100%;
                height: 100%;
                padding: 5% 0px;
                img {
                    width: 90%;
                    height: 100%;
                }
            }
        }
        // map地图
        .nibo_map {
            background: url('/assets/pages/device-inline/images/two/map.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 57%;
            border: 1px rgb(250, 246, 34) solid;
            position: relative;
            span{
                white-space: pre;
                text-overflow: ellipsis;
                overflow: hidden;
            }
            .w{
                position: absolute;
                width: 20%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .w::before{
                content: ' ';
                // margin-top: 50px;
                width: 1.6em;
                height: 1.6em;
                border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
                border: 1px solid #7a483c;
                background-color: #cca300;
                transform: rotate(135deg);
            }
            #jiegou {
                position: absolute;
                top: 91px;
                left: 268px;
            }
            #huanbao {
                position: absolute;
                top: 91px;
                left: 300px;
            }
            #huanbao:hover {
                cursor: pointer;
                img {
                    background-color: #08CBFA;
                }
            }
            #jiegou:hover {
                cursor: pointer;
                img {
                    background-color: #08CBFA;
                }
            }
        }
    }
    // 设备开动率、设备完好率
    .device-rate {
        margin-left: 0%;
        // height: 40%;
        // height: 374px;
        height: 100%;
        width: 100%;
    }
    // 未激活xx率
    .span_noactive {
        border-radius: 5px;
        padding: 5px;
        background: #2eab7d;
    }
    // 激活设备xxlv
    .span_active {
        border-radius: 5px;
        padding: 5px;
        background: #6ac544;
    }
    // geely介绍信息
    .geely-info {
        margin-left: 0%;
        margin-top: 10px;
        // height: 44%;
        // height: 411px;
        height: 100%;
        width: 100%;
    }
}

.row_buttom {
    background: url('assets/pages/device-inline/images/one/onebj_buttom2.jpg') no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 8%;
    image-rendering: pixelated;
    // background-position-y: 29%;
    img {
        width: 100%;
        height: 100%;
    }
}

// .row_buttom {
//     // min-height: 11%;
//     background: url('assets/pages/device-inline/images/one/onebj_buttom2.jpg')no-repeat;
//     background-size: 100% 100%;
//     height: 5%;
//     margin: 0;
//     img {
//         width: 100%;
//         height: 100%;
//     }
//     // 
// }