<!-- <p>centralized-monitoring works!</p> -->

<nb-card [nbSpinner]="loading" nbSpinnerSize="giant" nbSpinnerStatus="control" style="height: 100%;border: 0;margin: 0;">
    <nb-card-body style="padding: 0;">
        <div id="equipment">
            <div id="title_img">
                <div style="position: absolute;">
                    <div class="return_button_1 head" *ngIf="b_show.home" (click)="menu_btn_click()">
                    </div>
                    <div class="return_button_2 head" *ngIf="b_show.back" (click)="return_btn_click()">
                    </div>
                </div>
                <div class="title">
                    <span id="head_title">{{ title }}</span>
                </div>
                <div class="right_button">
                    <div class="head">
                        <span>{{get_now_date_str()}}</span>
                    </div>
                    <nb-icon style="margin-top: 5px;" [icon]="is_not_fullscreen ? 'expand-outline' : 'collapse-outline'" [status]="is_not_fullscreen ? 'warning' : 'info'" (click)="showAllTemplate()"></nb-icon>
                </div>
            </div>

            <div class="body" style="padding-left: 20px;">
                <div id="center" style="min-height: 828px;">
                    <!-- center -->
                    <div class="row" style="width: 100%;">
                        <div class="col-md-4 " style="flex: 0 0 33.333333% !important; max-width: 33.633333% !important;">
                            <!-- 设备汇总信息 -->
                            <div class="device_all_info chunk" >
                                <div class="part_title">设备汇总信息</div>

                                <div class="select">
                                    <select [ngModel]="DataTime"  (ngModelChange)="DataTimeChange($event)">
                                        <option value ="week">近一周</option>
                                        <option value ="month">近一月</option>
                                        <option value="year">近一年</option>
                                    </select>
                                </div>


                                <!-- 数量 -->
                                <div class="row numbers">
                                    <div class="alert_number">
                                        <span *ngFor="let item of alert_number" [class]=item.name>
                                            {{item.title}}: {{item.value}}台
                                        </span>
                                        <!-- <span>监控设备数量: 40台</span>
                                        <span >当前报警数量: 200条</span>
                                        <span>已解除数量: 2000条</span> -->
                                    </div>
                                </div>
                                
                                <!-- 数量echar -->
                                <div class="row numbers_echart">
                                    <div class="col-md-5" id="tj_test_number">
                                    </div>
                                    <div class="col-md-7" id="tj_test_number_line">
                                    </div>
                                </div>
                            </div>

                            <!-- 事件/报警信息 -->
                            <div class="device_alert_info chunk" style="height: 57%;">
                                <div class="part_title">事件/报警信息</div>
                                <!-- 事件 -->
                                <div class="row device_alert_info_event">
                                    <div class="col-md-4">
                                        <div id="circular" [ngStyle]="{background:'#848484'}"></div>
                                        <span>严重报警</span>
                                    </div>
                                    <div class="col-md-8" id="event_bar"></div>
                                </div>
                                <!-- 报警 -->
                                <div class="row" style="padding: 0; margin: 0;">
                                    <ngx-alert-info-alert style="width: 100%;height: 100%;" (serious_alert)="serious_alert($event)"></ngx-alert-info-alert>
                                </div>
                                <!-- <div class="row device_alert_info_elert">
                                    
                                    <ngx-alert-info-alert style="width: 100%;height: 100%;" (serious_alert)="serious_alert($event)"></ngx-alert-info-alert>
                                </div> -->
                            </div>

                        </div>

                        
                        <!-- 视频轮播 -->
                        <div class="col-md-5 "  style="padding-left: 0px;flex: 0 0 41.366667% !important;">
                            <div class="device_video chunk" >
                                <div class="part_title">视频轮播</div>
                                
                                <!-- 科室的视频 -->
                                <div class="row diveo_image">
                                    <!--  style=" border: solid 1px red;" -->
                                    <div  id="img_id" >
                                        <div class="inline_video_title row">
                                            01/13/2021 09:09:45 information Stmgr 'CS11_4poster_20180314.cfg' has connected to the station
                                        </div>
                                        <ngx-inline-video #inline></ngx-inline-video>
                                    </div>
                                </div>
                            </div>


                            <!-- 报警区域显示 -->
                            <div class="alert_area chunk" >
                                <div class="part_title">报警区域显示</div>
                                <!-- 非科室的视频 -->
                                <div class="row video_inline_two">
                                    <div id="alert_area_id">
                                        <ngx-aler-area-show></ngx-aler-area-show>
                                    </div>
                                </div>
                            </div>
                            
                        </div>


                        <!-- 试验汇总信息 -->
                        <div class="col-md-3 " style="padding: 0px;">
                            <div class="test_all_tinfo chunk" style="height: 98%;">
                                <div class="part_title">试验汇总信息</div>
                                <!-- 试验汇总信息 -->
                                <div class="row" style="padding: 0; margin: 0;">
                                    <ngx-test-all-info #testinfo style="height: 100%;"></ngx-test-all-info>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>