
.button_item{
  margin: 0px 10px 10px 0px;
}

// 导入---导出
.my_import{
  text-align: center;
  height: 40px;
  // 导入文件
  .import{
      display:none
  }

}
#employeenumber{
  line-height: 16px;
}
.span {
        text-align: center;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 30px 50px;
        margin: 20px 0;
      }
