.first_second_font {
    text-align: left;
    padding: 5px 0px 0px 10px;
    display: flex;
}

.width_30 {
    width: 30%;
}

._table {
    // border: 1px solid rgb(68, 114, 196);
    table {
        width: 100%;
        height: 100%;
        .header {
            // height: 10%;
            background: rgb(68, 114, 196);
            td {
                width: 20%;
                // padding: 5px;
            }
        }
        .body {
            font-size: 12px;
            border-bottom: 1px solid #4472c4;
            display: flex;
            padding: 4px 0;
            .progress_o {
                border-radius: 3px;
                width: 100%;
            }
            td {
                padding: 3px 0;
                // width: 33%;
            }
            .progres_1 {
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                nz-progress {
                    width: 100%;
                }
            }
            .progres_2 {
                position: absolute;
                display: flex;
                justify-content: center;
                color: black;
            }
            .tr {
                width: 20%;
                height: 100%;
            }
        }
    }
    .font_tolong {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

#scroll {
    overflow: auto;
    position: relative;
    height: 60%;
    width: 100%;
}

#table_body {
    position: absolute;
    height: 100%;
}

.length_too_long {
    position: absolute;
    width: 96%;
}

.lattice_layout {
    margin-top: 10px;
    display: inherit;
    position: relative;
}

.table_bo {
    border: 1px solid #4472c4;
}

.table_bo::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

.table_bo::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

.table_bo::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #888888;
}