<div class="first_second_font" style="margin-top: 4px;">
    <div>{{'equipment.BenchPIC'|translate }}</div>
    <div style="margin-left: 10%;">{{ experiment.user }}
        <!-- {{ 'equipment.contact'|translate }}:{{ experiment.phone }} -->
    </div>
</div>
<div class="_table height_80">
    <div class="table_bo" style="height: 30%;">
        <table>
            <tr style="height: 100%;" class="header">
                <td *ngFor="let title of experiment.title">
                    {{'equipment.'+title | translate }}
                </td>
            </tr>

        </table>
    </div>
    <div class="table_bo {{ this.experiment.data.length >= 2?'length_too_long':''}}" style="overflow: auto;position: relative;height: 60%;width: 100%;">
        <table style="position: absolute;height: 100%;">
            <tr class="body" *ngFor="let items of experiment.data">
                <td style="width: 20%;" *ngFor="let item of items;let i = index">
                    <div *ngIf="i == 4;else fontTemp" class="progres_1">
                        <nz-progress [nzPercent]="item" nzSize="small" [nzShowInfo]="false" nzStatus="{{true?'active':'exception'}}"></nz-progress>
                        <div class="progres_2" [ngStyle]="{'left':getleft(item)}">
                            {{item}}%
                        </div>
                    </div>
                    <div *ngIf="i == 0 && device.includes(',')">{{ items[4] }}</div>
                    <div *ngIf="[0,1,2,3].includes(i)" class="font_tolong">
                        {{item}}
                    </div>

                </td>
            </tr>
        </table>
    </div>

</div>