<div class="first_second_font height_11" style="margin-top: 4px;">
    <!-- <div>{{'equipment.BenchPIC'|translate }}</div>
    <div style="margin-left: 10%;">{{ experiment.user }}
    </div> -->
</div>
<div class="_table height_80">
    <div class="table_bo" style="height: 30%;">
        <table>
            <tr style="height: 100%;" class="header">
                <td *ngFor="let title of experiment.title">
                    {{'equipment.'+title | translate }}
                </td>
            </tr>

        </table>
    </div>
    <div id="scroll" class="table_bo {{ this.experiment.data.length >= 2?'length_too_long':''}}" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
        <table id="table_body">
            <tr id="tr" class="body" *ngFor="let items of experiment.data">
                <ng-container *ngFor="let item of items;let i = index">
                    <div class="tr" *ngIf="i<5" title="{{items[i]}}">
                        <div *ngIf="i == 4;else fontTemp" class="progres_1">
                            <nz-progress [nzPercent]="item" nzSize="small" [nzShowInfo]="false" nzStatus="{{true?'active':'exception'}}"></nz-progress>
                            <div class="progres_2">
                                {{item}}%
                            </div>
                        </div>
                        <div *ngIf="i == 0 && device.includes(',')">{{ items[5] }}</div>
                        <div *ngIf="[0,1,2,3].includes(i)" class="font_tolong">
                            {{item}}
                        </div>
                    </div>
                </ng-container>

            </tr>
        </table>
    </div>

</div>