<div id="shengwei">
    <div class="row height_100" style="margin: 0;">
        <div class="col-md-4 height_98" style="padding: 0px 0px 0px 20px;">
            <div class="backgroud height_100" style="padding: 30px 10px 0 0px;margin: 0;">
                <div class="part_title">晟微、4m3环境舱试验信息</div>
                <div class="backgroud height_39">
                    <ngx-equipment-status [device]='deviceid_voc' style="display: flex;width: 100%;height: 100%;"></ngx-equipment-status>
                </div>
                <div class="backgroud  height_20">
                    <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                    <ngx-test-information [device]='getdevices()' style="width: 100%;"></ngx-test-information>
                </div>
                <div class="backgroud height_35">
                    <ngx-log-warm [device]='deviceid_voc'></ngx-log-warm>
                </div>
            </div>
        </div>  
        <div class="col-md-4 height_98" style="padding: 0px 0 0 20px;">
            <div class="backgroud height_100" style="padding: 30px 10px 0 0px;margin: 0;">
                <div class="part_title">晟微环境舱试验参数</div>
                <div class="backgroud height_24">
                    <div class="part_title">温度</div>
                    <div style="display: flex;justify-content: space-around;">
                        <span>
                            设定值：<span class="span_css">{{data_voc.testing_temperature_set || 0}}℃</span>
                        </span>
                        <span>
                            实际值：<span class="span_css">{{data_voc.temperature_actual || 0}}℃</span>
                        </span>
                    </div>
                    <div id="line_chart_1"></div>
                </div>
                <div class="backgroud center_img">
                    <img id="img" [src]="imgsrc.center" />
                </div>
                <div class="backgroud height_35 center_thr">
                    <div class="part_title">实验参数</div>
                    <div class="one">
                            <div class="name">升温事件设定：</div> <div class="back"><span>{{data_voc.heating_time_set||0}}分</span></div>   
                            <div class="name">测试时间设定</div> <div class="back"><span>{{data_voc.testing_time_set||0}}分</span></div>   
                            <div class="name">蜂鸣时间设定</div> <div class="back"><span>{{data_voc.beep_time_set||0}}分</span></div>   
                            <div class="name">压力：</div> <div class="back"><span>{{data_voc.pressure||0}}Kpa</span></div>   
                    </div>
                    <div class="one">
                        <div class="name">功率： </div> <div class="back"><span>{{data_voc.heating_output_power||0}}Kw</span></div>
                        <div class="name">机器状态：</div> 
                        <div class="fang backgroud">
                            {{data_voc.warning == 0?'无报警':data_voc.warning}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 height_98" style="padding: 0px 20px 0px  20px;">
            <div class="backgroud height_100" style="padding: 30px 10px 0 0px;margin: 0;">
                <div class="part_title">4m3环境舱试验参数</div>
                <div class="backgroud height_33">
                    <ngx-equipment-status [device]='deviceid_4m3' TempNum="2" style="display: flex;width: 100%;height: 100%;"></ngx-equipment-status>
                </div>
                <div class="backgroud  height_30">
                    <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                    <div class="cabin">
                        <div class="cabin_layout height_50">
                            <div id="cabin_pie_4"></div>
                            <div id="cabin_pie_5"></div>
                            <div class="cabin_1_set height_100">
                                <div class="set_1">温度设定值：<span class="span_css">{{ data_4m3.temperature_set || 0 }}℃</span></div>
                                <div class="set_1">湿度设定值：<span class="span_css">{{ data_4m3.humidity_set || 0 }}%RH</span></div>
                            </div>
                        </div>
                        <div id="cabin_line_4" class="height_50 w_100"></div>
                    </div>
                </div>
                <div class="backgroud height_31">
                    <ngx-log-warm [device]='deviceid_4m3' chartid="warming_2"></ngx-log-warm>
                </div>
            </div>
        </div>
    </div>
</div>