<div id="glass-lift">
    <div class="row" style="height: 100%;margin: 0;">
        <div class="col-md-4" style="padding: 0px 0px 0px 20px;">
            <div class="backgroud height_41">
                <ngx-equipment-status [device]='deviceid_sky' [chart_1_type]="'type_2'" style="display: flex;width: 100%;height: 100%;"></ngx-equipment-status>
            </div>
            <div class="backgroud  height_20">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='deviceid_sky' style="width: 100%;"></ngx-test-information>
            </div>
            <div class="backgroud height_35" style="margin: 0;">
                <ngx-log-warm [device]='deviceid_sky'></ngx-log-warm>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px;">
            <div class="backgroud height_26">
                <div class="part_title">设备介绍</div>
            </div>
            <div class="center_img backgroud" style="padding: 0;">
                <div class="part_title">在线视频</div>
                <!-- <img id="img" [src]="imgsrc.center" /> -->
                <div id="img">
                    <ngx-pubvideo #pubvideo style="width: 100%;
                    height: 100%;"></ngx-pubvideo>

                </div>
            </div>
            <div class="backgroud height_35" style="margin: 0;">
                <div class="part_title">ATEC-环境舱</div>
                <div class="cabin">
                    <div class="cabin_layout height_40">
                        <div class="round" [ngStyle]="{background:atec.status?'#66FF66':'black' }"></div>
                        <div id="cabin_pie_1"></div>
                        <div id="cabin_pie_2"></div>
                        <div class="cabin_1_set height_100">
                            <div class="set_1">温度设定值：<span class="span_css">{{ atec.tempSet}}℃</span></div>
                            <div class="set_1">湿度设定值：<span class="span_css">{{ atec.rhSet }}%RH</span></div>
                        </div>
                    </div>
                    <div id="cabin_line_1" class="height_54 w_100"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px 0px  0px;">
            <div class="backgroud height_24">
                <div class="part_title">电流曲线</div>
                <div id="sky_line_1"></div>
            </div>
            <div class="backgroud height_24">
                <div class="part_title">电压曲线</div>
                <div id="sky_line_2"></div>
            </div>
            <div class="backgroud height_48">
                <div class="part_title">实验参数</div>
                <div class="equipment_params">
                    <div class="row_1 left">
                        <div class=" cabin_4_set">
                            <div class="set_1 font-big">工位1:</div>
                            <div class="set_1">进度 <span class="span_css">{{sky_rate.one?.rate}}%</span></div>
                            <div class="set_1">已测次数 <span class="span_css">{{sky_rate.one?.station1_tested_count}}次</span></div>
                            <div class="set_1">已测时间 <span class="span_css">{{sky_rate.one?.station1_test_count_total}}h</span></div>
                            <div class="set_1">测试次数 <span class="span_css">{{sky_rate.one?.station1_tested_count}}次</span></div>
                            <div class="set_1">测试时间 <span class="span_css">{{sky_rate.one?.station1_test_time_total}}h</span></div>
                            <div id="progress_1" class="progress"></div>
                        </div>
                        <div class=" cabin_4_set">
                            <div class="set_1 font-big">工位3:</div>
                            <div class="set_1">进度 <span class="span_css">{{sky_rate.three?.rate}}%</span></div>
                            <div class="set_1">已测次数 <span class="span_css">{{sky_rate.three?.station3_tested_count}}次</span></div>
                            <div class="set_1">已测时间 <span class="span_css">{{sky_rate.three?.station3_test_count_total}}h</span></div>
                            <div class="set_1">测试次数 <span class="span_css">{{sky_rate.three?.station3_tested_count}}次</span></div>
                            <div class="set_1">测试时间 <span class="span_css">{{sky_rate.three?.station3_test_time_total}}h</span></div>
                            <div id="progress_3" class="progress"></div>
                        </div>
                    </div>
                    <div class="row_1 right">
                        <div class=" cabin_4_set">
                            <div class="set_1 font-big">工位2:</div>
                            <div class="set_1">进度 <span class="span_css">{{sky_rate.two?.rate}}%</span></div>
                            <div class="set_1">已测次数 <span class="span_css">{{sky_rate.two?.station2_tested_count}}次</span></div>
                            <div class="set_1">已测时间 <span class="span_css">{{sky_rate.two?.station2_test_count_total}}h</span></div>
                            <div class="set_1">测试次数 <span class="span_css">{{sky_rate.two?.station2_tested_count}}次</span></div>
                            <div class="set_1">测试时间 <span class="span_css">{{sky_rate.two?.station2_test_time_total}}h</span></div>
                            <div id="progress_2" class="progress"></div>
                        </div>
                        <div class=" cabin_4_set">
                            <div class="set_1 font-big">工位4:</div>
                            <div class="set_1">进度 <span class="span_css">{{sky_rate.four?.rate}}%</span></div>
                            <div class="set_1">已测次数 <span class="span_css">{{sky_rate.four?.station4_tested_count}}次</span></div>
                            <div class="set_1">已测时间 <span class="span_css">{{sky_rate.four?.station4_test_count_total}}h</span></div>
                            <div class="set_1">测试次数 <span class="span_css">{{sky_rate.four?.station4_tested_count}}次</span></div>
                            <div class="set_1">测试时间 <span class="span_css">{{sky_rate.four?.station4_test_time_total}}h</span></div>
                            <div id="progress_4" class="progress"></div>
                        </div>
                        
                    </div>
                    <img style="width: 90px;height: 115px;position: absolute;top: 27%;left: 42%;" [src]="imgsrc.car" />
                </div>
            </div>
        </div>
    </div>
</div>