.my_date_range_env{
    width: 188px;
    line-height: 29px;
    input{
        width: 125%;
        border-color: rgb(0,214,143) !important;
        border-radius: 4px;
        border-width: 1.5px;
        font-size: x-small;
    }
    input:hover{
        border-color: rgb(0,214,143) !important;
        border-radius: 4px;
        border-width: 1.5px;
    }
}

