<div class="row aler_area_show" >
    <div class="col-md-12">
        <div class="alert_area" *ngIf="groups_datas.length>0">

            <div class="alert_area_select">
                <select [ngModel]="DataTime"  (ngModelChange)="DataTimeChange($event)">
                    <option value ="30">半小时</option>
                    <option value ="60">一小时</option>
                    <option value="720">12小时</option>
                    <option value="1440">一天</option>
                </select>
            </div>

            <div class="row" style="height: 38.33%;margin-top: 3%;">
                <div class="col-md-10" style="display: flex; margin: 0px;">
                    <div class="alert_groups" >
                        <span>{{handle_group(groups_datas[0]["groups"])}}</span>
                        <div class="alert_groups_status0" [style]="{background: groups_datas[0]['count']!=0?'#FF0000':''}"></div>
                    </div>

                    <div class="alert_groups" >
                        <span>{{handle_group(groups_datas[1]["groups"])}}</span>
                        <div class="alert_groups_status1" [style]="{background: groups_datas[1]['count']!=0?'#FF0000':''}"></div>
                    </div>
                    
                    <div class="alert_groups" >
                        <span>{{handle_group(groups_datas[4]["groups"])}}</span>
                        <div class="alert_groups_status2" [style]="{background: groups_datas[4]['count']!=0?'#FF0000':''}"></div>
                    </div>

                </div>
                <div class="col-md-2"></div>
            </div>

            <div class="row" style="height: 15%;">
                <div class="col-md-10" style="display: flex; margin: 0px;">
                   
                </div>
                <div class="col-md-2">
                </div>
            </div>

            <div class="row" style="height: 38.33%;">
                <div class="col-md-10" style="display: flex; margin: 0px;">
                    <div style="width: 15%;"><span></span></div>

                    <div class="alert_groups2" >
                        <span>{{handle_group(groups_datas[2]["groups"])}}</span>
                        <div class="alert_groups_status3" [style]="{background: groups_datas[2]['count']!=0?'#FF0000':''}"></div>
                    </div>

                    <div class="alert_groups2" >
                        <span>{{handle_group(groups_datas[3]["groups"])}}</span>
                        <div class="alert_groups_status4" [style]="{background: groups_datas[3]['count']!=0?'#FF0000':''}"></div>
                    </div>
                </div>
                <div class="col-md-2" style="padding-left: 0px;">
                    <div class="is_not_alert" style="margin-bottom: 12%;">
                        <span>无报警</span>
                        <div class="alert_groups_status_true" style="background: #ff000000"></div>
                    </div>
                    <div class="is_not_alert" style="background:'#FF0000'">
                        <span>有报警</span>
                        <div class="alert_groups_status_false" style="background: #FF0000"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
