<!-- 设备状态 -->
<div class="row" style="margin: 0px;height: 48%;">
    <div class="chunk device_status">
        <div class="part_title">设备状态</div>
        <!-- echart 环状 -->
        <div class="andon_status">
            <div id="left_chart_1"></div>
            <div id="left_chart_2"></div>
            <div id="left_chart_3"></div>
        </div>
        <!-- 工时年度统计 -->
        <div id="left_chart_hour_year" class="hour_year"></div>
    </div>
</div>
<!-- 设备-级报警概览 -->
<div class="row" style="margin: 20px 0 0 0;height: 49%;">
    <div class="chunk one_alert">
        <!-- <div class="part_title">设备三级报警概览</div> -->
        <div class="part_title">设备所有报警概览</div>
        <div class="_table">
            <div class="table_head">
                <div class="table_head_th">
                    <div class="table_head_tr" [ngStyle]="{width: '30%'}" *ngFor="let key of obejct.keys(tableHeader)">
                        {{tableHeader[key]}}
                    </div>
                </div>
            </div>
            <!-- 左右滚动条 -->
            <!-- <div class="scrollbar_l">
                <div id="s"></div>
            </div> -->
            <div id="left_table" (mouseover)="mouseover()" (mousemove)="mousemove()" class="table_body" style="display: flex;flex-wrap: wrap;">
                <div id="scroll">
                    <div class="table_body_th_1" *ngFor="let items of tableBody;">
                        <ng-container *ngFor="let key of obejct.keys(tableHeader);let i = index">
                            <div class="table_body_tr" [ngStyle]="{width: i ==2?'39%':'30%'}">
                                {{ items[key] }}
                            </div>
                        </ng-container>
                    </div>
                </div>

                <!-- <div class="table_body_th_2">
                    <table id="table_body_2" style="height: 100%;text-align: left;">
                        <tr *ngFor="let items of tableBody;">
                            <td *ngFor="let key of fixed;" title="{{items[key]}}">
                                <div style="display: inline-grid;">
                                    {{ items[key] }}
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                </div> -->
            </div>
        </div>
    </div>
</div>