<div id="four_road">
    <div class="row" style="height: 100%;margin: 0;">
        <div class="col-md-4" style="padding: 0px 0px 0px 20px;">
            <div class="first_first" style="height: 41%;">
                <ngx-equipment-status [device]='deviceid' style="display: flex;width: 100%;"></ngx-equipment-status>
            </div>
            <div class="first_second lattice_layout" style="height: 20%;">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='deviceid' style="width: 100%;"></ngx-test-information>
            </div>
            <div class="dis_f_w first_third lattice_layout height_35">
                <ngx-log-warm [device]='deviceid' style="display: flex;width: 100%;flex-wrap: wrap;"></ngx-log-warm>

            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px;">
            <div class="sceond_fisrt height_28" style="padding-top: 0px;display: inherit;">
                <div class="part_title" style="overflow: auto;">{{ 'equipment.equipIntroduce'|translate}}</div>
                <ngx-equip-introduce style="width: 92%;" name="slz" [equipIntroduceList]="equipIntroduceList"></ngx-equip-introduce>
            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <div style="width: 100%;height: 100%;display: flex;
            align-items: center;
            justify-content: center;">
                    <img id="img" [src]="img.url" [alt]="img.name">
                </div>
            </div>
            <div class="sceond_third height_35" style="display: inherit;box-shadow:0px 0px;margin-top: 20px;padding: 0px;">
                <ngx-chart-curve-v3 #chart_3 [chartName]="'chart_3'" (clicEvent)="clicEvent($event,3)" [list]="list_3">
                    <div class="_table">
                        <div class="table_bo height_48">
                            <table>
                                <tr class="header">
                                    <td *ngFor="let title of switchStatus.title" [ngStyle]="{'width':get_td_width(switchStatus.title.length)}">
                                        <div style="white-space: normal;
                                        word-wrap: break-word;
                                        width: 100%;
                                        word-break: break-all;">
                                            {{"equipment."+title | translate}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="table_bo height_58 scrollbar" style="overflow-y: auto;">
                            <table>
                                <tr class="body" *ngFor="let items of switchStatus.data">
                                    <td *ngFor="let item of items;let i = index" [ngStyle]="{'width':get_td_width(switchStatus.title.length)}">
                                        <div class="font_w_too_long" style="padding-top: 1%;" title="{{item}}" *ngIf="i == 0">{{item}}</div>
                                        <div *ngIf="i != 0" style="display: flex;justify-content: center;">
                                            <div id="{{item.id}}" [ngStyle]="{'background': item.color}">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </ngx-chart-curve-v3>
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px 0px 0px;">
            <div class="thrid">
                <div class="part_title">weiss{{'equipment.EnvironBinParam'|translate}}</div>
                <ngx-experiment-params device='device_weiss_01' style="width: 100%;"></ngx-experiment-params>
            </div>
            <div class="height_32 bo " style="margin-top: 20px;padding: 0%;position: relative;">
                <ngx-chart-curve-v3 #chart_2 [chartName]="'chart_2'" (clicEvent)="clicEvent($event,2)" dashboardName='dashboard_2' [list]="list_2"></ngx-chart-curve-v3>
            </div>
            <div class="height_32 bo" style="margin-top: 20px;padding: 0%;position: relative;">
                <ngx-chart-curve-v3 #chart_1 [chartName]="'chart_1'" (clicEvent)="clicEvent($event,1)" chartVivid='columnar' dashboardName='dashboard_1' [list]="list_1"></ngx-chart-curve-v3>
            </div>

        </div>
    </div>


</div>