<div class="mytimeline">
    <nz-timeline  nzMode="alternate">
        
        <nz-timeline-item *ngFor="let item of timelinedata" [nzColor]="item.statusColor">
            <div>
                <strong>{{item.recordtime}}</strong>
            </div>
            <div>
                <span style="font-weight: 500;">{{item.createdby}}</span>
            </div>
            <div>
                <!-- {{item.status}} -->
                <span style="font-weight: 300;">{{item.title}}</span>
            </div>
        </nz-timeline-item>
    </nz-timeline>
</div>

