.inline_video_title{
    position: absolute;
    width: 100%;
    left: 0px;
    color: aliceblue;
    font-size: smaller;
}

.inline_video_video{
    height: 100%;
    padding-top: 30px;
}

[nz-carousel-content] {
    text-align: center;
    
    // height: 160px;
    // line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
  }

h3 {
  color: #fff;
  margin-bottom: 0;
}

nz-carousel{
  position: relative;
  overflow: hidden;
  // height: 100%;
  // height: 240px;
  // line-height: 240px;
}