<!--  *ngIf="status" -->
<div class="row video_inline_one" >
  <div class="col-md-12" style="height: 100%; width: 100%; padding: 0;">
      <div style="height: 100%; width: 100%;" class="inline_video_video_parent">
          <!-- 视频！ -->
          
          <!-- <div class="inline_video_video" *ngIf="status"> -->
          <div class="inline_video_video">
            <!-- <ngx-pubvideo #pubvideo></ngx-pubvideo> -->
            <!-- muted Chrome 播放问题-->
            <video id="video" controls style="width: 100%;height: inherit;" preload="none"></video>
            <h4 class="work_error">网络相关的错误</h4>
            
          </div>
      </div>
  </div>
</div>





