<!-- buttons -->
<div class="row">

    <div class="col-lg-9" style="display: flex;">
        
        <!-- 日期选择器  *ngIf="button?.query" -->
        <div class="example-items-rows button_item" >
            <ngx-my-date-range #data_range></ngx-my-date-range>
        </div>

        <!-- 科室功能组 -->
        <div class="example-items-rows button_item" >
            <div class="gongneng_keshi">
                <ngx-my-select-tree #groups [placeholder]="groups_placeholder"></ngx-my-select-tree>
            </div>
        </div>

        <!-- 设备类型 -->
        <div class="example-items-rows button_item" >
            <div class="gongneng_keshi">
                <ngx-my-select-tree-type #eimdevicetpye [placeholder]="eimdevicetpye_placeholder"></ngx-my-select-tree-type>
            </div>
        </div>
        
        <!-- 设备名称 -->
        <div class="example-items-rows button_item"  >
            <ngx-my-input #myinput (inpuvalue)="inpuvalue($event)"  [placeholder]="myinput_placeholder"></ngx-my-input>
        </div>

        <!-- 搜索 -->
        <div class="example-items-rows button_item query" *ngIf="button?.query">
            <button nbButton [status]="button?.query.class" size="small" (click)="action(button?.query.permission)"  [disabled]="button?.query.active == 0? true:false"><nb-icon [icon]="button?.query.icon"></nb-icon>{{button?.query.title}}</button>
        </div>

        <!-- 导出、重置 -->
        <div style="flex: auto;">
        </div>
        

        <div class=" button_item download" *ngIf="button?.download">
            <button nbButton [status]="button?.download.class" size="small" (click)="action(button?.download.permission)"  [disabled]="button?.download.active == 0? true:false"><nb-icon [icon]="button?.download.icon"></nb-icon>{{button?.download.title}}</button>
        </div>
        
        <div class="" style="text-align: right;">
            <button nbButton [nbSpinner]="refresh" nbSpinnerStatus="success" size="small" (click)="refresh_table()">
                <nb-icon icon="sync-outline"></nb-icon>
            </button>
        </div>
        
    </div>
    <!-- 导出、重置 -->
    <!-- <div class="col-lg-3" style="display: flex;">
        <div style="flex: auto;">
        </div>
        
        <div class=" button_item download" *ngIf="button?.download">
            <button nbButton [status]="button?.download.class" size="small" (click)="action(button?.download.permission)"  [disabled]="button?.download.active == 0? true:false"><nb-icon [icon]="button?.download.icon"></nb-icon>{{button?.download.title}}</button>
        </div>
        
        <div class="" style="text-align: right;">
            <button nbButton [nbSpinner]="refresh" nbSpinnerStatus="success" size="small" (click)="refresh_table()">
                <nb-icon icon="sync-outline"></nb-icon>
            </button>
        </div>
    </div> -->
</div>

<!-- 实时报警 table -->
<div class="row" [nbSpinner]="loading" nbSpinnerStatus="basic">
    <div class="col-md-9">
        <ngx-ag-table #ag_Grid   (nzpageindexchange)="nzpageindexchange_ag($event)"></ngx-ag-table>
    </div>

    <!-- echart -->
    <div class="col-md-3" style="padding: 0px;border: 1px solid;">
        <ngx-health-data-echart #healthdataechart style="height: 100%;"></ngx-health-data-echart>
    </div>
</div>