<div id="cts">
    <div class="row height_100" style="margin: 0;">
        <div class="col-md-4 height_100" style="padding: 0px 0px 0px 20px;">
            <div class="backgroud height_39">
                <ngx-equipment-status [device]='device_bsr' style="display: flex;width: 100%;height: 100%;"></ngx-equipment-status>
            </div>
            <div class="backgroud  height_20">
                <div class="part_title">{{'equipment.expInfor'|translate}}</div>
                <ngx-test-information [device]='device_bsr' style="width: 100%;"></ngx-test-information>
            </div>
            <div class="backgroud height_35">
                <ngx-log-warm [device]='device_bsr'></ngx-log-warm>
            </div>
        </div> 
        <div class="col-md-4 height_100" style="padding: 0px 20px;">
            <div class="backgroud height_29" style="text-align: left;padding-top: 0;">
                <div class="part_title" style="overflow: auto;">{{ 'equipment.equipIntroduce'|translate}}</div>
                <ngx-equip-introduce style="width: 100%;height: 100%;" [name]="introd_name" [equipIntroduceList]="equipIntroduceList"></ngx-equip-introduce>
                <!-- <div style="text-align: left;text-indent: 2rem;">
                    拟于路试或道路模拟系统，通过2个或4个独立控制的激振器直接对车身进行激励,在 
                    试验室内查找道路上无法看到或碰到部位异响诊断及整改。还可以进行座椅、车门、 
                    仪表板、顶棚、通风空调系统和其他子系统进行异响测试。<br>
                    主要应用领域Major Application^1
                    <div>
                        ▲整车异响试验 Vehicle noise test，
                    </div>
                    <div>
                        ▲零部件及子系统异响试验 Parts and subsystems noise Test
                    </div>
                </div> -->
                <!-- 主要技术参数Specification 
                <div style="text-align: left;text-indent: 2rem;">
                        <div>▲争空间尺寸Size: 8X7X4.3e</div>
                        <div>▲背景噪声 Background noise: ≤28dBA ;截止频率 Frequency:200Hz</div>
                        <div>▲温度范围 Temperature: -40 至 70℃</div>
                        <div>▲轴距调节 Wheel base: 2000-3400mm</div>
                        <div>▲频率范围 Frequency range: 0-100Hz, 50dBA</div>
                        <div>▲动态行程 Trip: ≥150mm, Weight: ≤3500kg</div>
                        
                    
                </div> -->
            </div>
            <div class="center_img">
                <div class="part_title">{{'equipment.OnlineVideo'|translate}}</div>
                <div style="width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;">
                    <img id="img" [src]="img.url" [alt]="img.name">
                </div>
            </div>
            <div class="backgroud height_32" style="padding-top:30px;">
                <div class="part_title">{{'equipment.real'|translate}}</div>
                <div class="_table">
                    <div class="table_bo height_48">
                        <table>
                            <tr class="header">
                                <td *ngFor="let title of switchStatus.title" [ngStyle]="{'width':get_td_width(switchStatus.title.length)}">
                                    <div style="white-space: normal;
                                    word-wrap: break-word;
                                    width: 100%;
                                    word-break: break-all;">
                                        {{"equipment."+title | translate}}
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="table_bo height_50 scrollbar" style="overflow-y: auto;">
                        <table>
                            <tr class="body" *ngFor="let items of switchStatus.data">
                                <td *ngFor="let item of items;let i = index" style="position: relative;" [ngStyle]="{'width':get_td_width(switchStatus.title.length)}">
                                    <div class="font_w_too_long" style="padding-top: 1%;" title="{{item}}" *ngIf="i == 0">{{item}}</div>
                                    <div *ngIf="i != 0" style="display: flex;justify-content: center;">
                                        <div id="{{item.id}}" [ngStyle]="{'background': item.color}">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="_table_other">
                    <!-- <div id="bsr_chart_g_7" class="height_100" style="width: 40%;"></div>
                    <div id="bsr_chart_g_8" class="height_100" style="width: 40%;"></div> -->
                    <div id="bsr_chart_3" class="height_100" style="width: 100%;"></div>
                </div>
                
            </div>
        </div>
        <div class="col-md-4" style="padding: 0px 20px 0px 0px;">
            <div class="backgroud height_33">
                <div class="part_title">{{'equipment.EnvironBinParam'|translate}}</div>
                <div class="cang">
                    <div class="cang_top"> 
                        <div id="cang_pie_5"></div>
                        <div id="cang_pie_6"></div>
                        <div class="cang_1_set">
                            <div class="set_1">温度设定值：<span class="span_css">{{ cts_cang.temp_set}}℃</span></div>
                            <div class="set_1">湿度设定值：<span class="span_css">{{ cts_cang.hum_set }}%RH</span></div>
                        </div>
                    </div>
                    <div id="cang_chart_1"></div>
                </div>
            </div>
            <div class="backgroud height_31">
                <div class="part_title">温度</div>
                <div class="chart">
                    <div  class="po">
                        <div id="bsr_chart_g_1" class="height_50" style="width: 25%;"></div>
                        <div id="bsr_chart_g_2" class="height_50" style="width: 25%;"></div>
                        <div id="bsr_chart_g_3" class="height_50" style="width: 25%;"></div>
                        <div id="bsr_chart_g_4" class="height_50" style="width: 25%;"></div>
                        <div id="bsr_chart_1" class="width_100 height_50"></div>
                    </div>
                </div>
            </div>
            <div class="backgroud height_30">
                <div class="part_title">位移</div>
                <div class="chart">
                    <div class="po">
                        <div id="bsr_chart_g_5" class="height_50" style="width: 25%;"></div>
                        <div id="bsr_chart_g_6" class="height_50" style="width: 25%;"></div>
                        
                        <div id="bsr_chart_2" class="width_100 height_50"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>