// 试验汇总信息
.test_all_info{
    // height: 10%;
    height:658px;
    margin-bottom:20px;
    margin: 0px;
    .table_info {
        position: absolute;
        padding: 0;
        margin: 0;
        padding-top: 45px;
        width: 100%;
        height: 10%;
        table{
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            border: 1px solid #4472c4;
            .table_info_header {
                // display: flex;
                // height: 100%;
                // height: 7%;
                height: 50px;
                // width: 100%;
                background: rgb(68, 114, 196);
                padding: 3px 0;
                td {
                    width: 33%;
                }
            }
        }
    }

    .table_info_content{
        height: 88%;
        // height: 658px;
        position: absolute;
        // top: 5%;
        // top: 14%;
        top: 98px;
        padding: 0;
        margin: 0;
        // height: 90%;
        overflow-y: scroll;
        width: 100%;
        table{
            width: 100%;
            .table_info_center{
                height: 30px;
                // td{
                // }
            }
        }
    }
    
}



.table_info_content::-webkit-scrollbar {/*滚动条整体样式*/

    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/

    height: 1px;

}

.device_name_div{
    // height: 30px;
    height: 65px;
    overflow-y: scroll;
}
.device_name_div::-webkit-scrollbar {/*滚动条整体样式*/

    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/

    height: 1px;

}
