<div class="row test_all_info">
    <div class="table_info ">
        <table>
            <tr class="table_info_header">
                <td  *ngFor="let title of test_all_info.title;let i =index" [ngStyle]="{'width':i<3?'20%':'40%'}">
                    {{title}}
                </td>
            </tr>
        </table>
    </div>
    
    <div class="table_info_content ">
        <table>
            <tr class="table_info_center" *ngFor="let data of test_all_info.data;let i =index" [ngStyle]="{'color':data[2] == '0'?'#f595ca':(data[2]=='1'?'yellow':'')}">
                <td *ngFor="let item of data;let i = index" [ngStyle]="{'width':i<3?'20%':'40%'}">
                    <span *ngIf="i < 3">{{item}}</span>
                    <div class="row" *ngIf="i === 3" style="margin-right: 0px;padding: 0px;">
                        <div class="col-md-6" style="margin: 0px;padding: 0px;">
                            <button nbButton status="success" size="tiny">查看视频</button>
                        </div>
                        <div class="col-md-6" style="margin: 0px;padding: 0px;">
                            <button nbButton status="warning" size="tiny">消除报警</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
