
<nb-card style="height:864px; margin-bottom: 5px;">
    <!-- <nb-card-header style="font-size: small;">
        状态监控
    </nb-card-header> -->
    <nb-card-body style="background-color: #ffffff;padding-bottom: 0px;">
        <div class="one_layout_monitor">
            <!-- 头部 -->
            <ngx-one-layout #status_monitor_title>
            </ngx-one-layout>

            <!-- 主题 -->
            <div class="row" style="height: 90%;">
                <div class="col-md-3">
                    <span class="all_runing">当日累计时长：{{runing_all}}H</span>
                    <div id="pie">饼状图</div>
                    <div id="bar">柱状图</div>
                </div>
                <div class="col-md-9">

                    <div class="lift_content">
                        <div class="lift_content_cont">
                        </div>
        
                        <div class="lift_content_car1">
                            <div *ngFor="let item of detector_datas let index=index">
                                <!-- *ngIf="item.status===1" -->
                                <img *ngIf="item.status===1"  class="lift_content_car{{index+1}}image" src="../../../../assets/pages/lift-machine/images/car.png" alt="" srcset="">
                            </div>
        
                            <!-- <span *ngFor="let item of [1,2,3,4,5,6,7,8]" class="bo shuidi{{item}}title "> -->

                            <span *ngFor="let item of [1,2,3,4,5]" class="bo shuidi{{item}}title ">
                                <span class="sm_span_{{item}}1">举升机工位：1</span>
                                <span class="sm_span_{{item}}2">当前状态：占位</span>
                                <span class="sm_span_{{item}}3">已使用时长：2h</span>
                            </span>
                        </div>

                        <!-- 有车、无车 -->
                        <p class="placeon_p">有车</p>
                        <img class="placeonimage" src="../../../../../assets/pages/lift-machine/images/car.png" alt="" srcset="">
                        <p class="stop_p">无车</p>
                    </div>
                </div>
            </div>
        </div>
        
    </nb-card-body>
</nb-card>

