.one_layout_monitor{
    // border: 1px rgb(89, 141, 255) solid;
    height: 100%;
}
// 主题
.lift_content{
    height: 91%;
    // padding: 0px 10px 5px;
    .lift_content_cont{
        // border: 1px solid;
        height: 100%;
        
        background-image:url("../../../../assets/pages/lift-machine/images/bg_two.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .lift_content_car1{
        .lift_content_car1image{
            position: absolute;
            top: 11%;
            right: 6%;
            width: 67px;
            transform: rotate( 
            -90deg
            );
        }
        .shuidi1image{
            transform: rotate(
                90deg
            );
            height: 24px;
            width: 40px;
            position: absolute;
            top: 111px;
            left: 87%;
            z-index: 1;
            cursor: pointer;
        }
        .shuidi1title{
            height: 65px;
            position: absolute;
            top: 123px;
            right: 11.4%;
            z-index: 1;
            border: 2px #cacabd solid;
            display: grid;
            background: #d2d2d2;
        }

        .lift_content_car2image{
            position: absolute;
            top: 22%;
            right: 6%;
            width: 67px;
            transform: rotate( 
            -90deg
            );
        }
        .shuidi2image{
            transform: rotate(
            90deg
            );
            height: 24px;
            width: 40px;
            position: absolute;
            top: 203px;
            left: 87%;
            z-index: 1;
            cursor: pointer;
        }
        .shuidi2title{
            height: 65px;
            position: absolute;
            top: 217px;
            right: 11.35%;
            z-index: 1;
            border: 2px #cacabd solid;
            display: grid;
            background: #d2d2d2f2;
        }

        .lift_content_car3image{
            position: absolute;
            top: 11%;
            right: 21%;
            width: 67px;
            transform: rotate( 
            -90deg
            );
        }
        .shuidi3image{
            transform: rotate(
                -2deg
            );
            height: 24px;
            width: 40px;
            position: absolute;
            top: 180px;
            right: 26%;
            z-index: 1;
            cursor: pointer;
        }
        .shuidi3title{
            height: 65px;
            position: absolute;
            top: 123px;
            right: 26.9%;
            z-index: 1;
            border: 2px #cacabd solid;
            display: grid;
            background: #d2d2d2f2;
        }

        .lift_content_car4image{
            position: absolute;
            top: 14.5%;
            right: 50%;
            width: 67px;
            transform: rotate( 
            -90deg
            );
        }
        .shuidi4image{
            transform: rotate(
                -2deg
                );
            height: 24px;
            width: 40px;
            position: absolute;
            top: 217px;
            right: 48%;
            z-index: 1;
            cursor: pointer;
        }
        .shuidi4title{
            height: 65px;
            position: absolute;
            top: 153px;
            right: 55.9%;
            z-index: 1;
            border: 2px #cacabd solid;
            display: grid;
            background: #d2d2d2f2;
        }

        .lift_content_car5image{
            position: absolute;
            top: 49%;
            left: 47.59%;
            width: 67px;
            transform: rotate( 
            0deg
            );
        }
        .shuidi5image{
            transform: rotate(
                180deg
                );
            height: 24px;
            width: 40px;
            position: absolute;
            top: 504px;
            right: 53%;
            z-index: 1;
            cursor: pointer;
        }
        .shuidi5title{
            height: 65px;
            position: absolute;
            top: 390px;
            right: 52.7%;
            z-index: 1;
            border: 2px #cacabd solid;
            display: grid;
            background: #d2d2d2f2;
        }

        .lift_content_car6image{
            position: absolute;
            top: 79%;
            right: 50%;
            width: 67px;
            transform: rotate( 
            -90deg
            );
        }
        .shuidi6image{
            transform: rotate(
                180deg
            );
            height: 24px;
            width: 40px;
            position: absolute;
            top: 672px;
            left: 49.5%;
            z-index: 1;
            cursor: pointer;
        }
        .shuidi6title{
            height: 65px;
            position: absolute;
            top: 707px;
            right: 55.9%;
            z-index: 1;
            border: 2px #cacabd solid;
            display: grid;
            background: #d2d2d2;
        }

        .lift_content_car7image{
            position: absolute;
            top: 49%;
            left: 35.78%;
            width: 67px;
            transform: rotate( 
            0deg
            );
        }
        // 水滴7
        .shuidi7image{
            transform: rotate(
            180deg
            );
            height: 24px;
            width: 40px;
            position: absolute;
            top: 399px;
            left: 38%;
            z-index: 1;
            cursor: pointer;
        }
        .shuidi7title{
            height: 65px;
            position: absolute;
            top: 390px;
            right: 64.7%;
            z-index: 1;
            border: 2px #cacabd solid;
            display: grid;
            background: #d2d2d2;
        }
        .lift_content_car8image{
            position: absolute;
            top: 52.5%;
            right: 72%;
            width: 67px;
            transform: rotate( 
            -90deg
            );
        }
        .shuidi8image{
            transform: rotate(
                180deg
            );
            height: 24px;
            width: 40px;
            position: absolute;
            top: 672px;
            left: 49.5%;
            z-index: 1;
            cursor: pointer;
        }

        .shuidi8title{
            height: 65px;
            position: absolute;
            top: 478px;
            right: 77.5%;
            z-index: 1;
            border: 2px #cacabd solid;
            display: grid;
            background: #d2d2d2;
        }
    }
}