<!-- <p>one-layout works!</p> -->

<div class="row one_layout">
    <!-- title -->
    <div class="title">
        <!-- <span class="t1">GEELY</span> -->
        <span class="t2">NVH试验车间</span>
        <div class="t3">
        </div>

        <p class="placeon_p">占位</p>
        <div class="placeon"></div>
        <img class="placeonimage" src="../../../../../assets/pages/lift-machine/images/car_position.png" alt="" srcset="">
        
        <p class="stop_p">空闲</p>
        <div class="stop"></div>
        <img class="stopimage" src="../../../../../assets/pages/lift-machine/images/car_position.png" alt="" srcset="">
    </div>

    <!-- 数量 -->
    <div class="monitor_device_num">
        <span class="lift_all_numtitle lift_span_title">举升机总数:</span>
        <span class="lift_all_numvalue lift_span_value">{{numbersage}}台</span>

        <span class="lift_curr_numtitle lift_span_title">当前使用台数:</span>
        <span class="lift_curr_numvalue lift_span_value">{{numbersnow}}台</span>
    </div>
</div>
