<!-- 对应的html -->
<!-- 测试多选 动态-->
<div style="position: relative;" class="tree_isShow">
    <input type="text" name="title" required="" lay-verify="required" 
    placeholder="placeholder_title" readonly="" autocomplete="off" 
    class="layui-input employeenumber_2" style="margin-left: 2px;width: 98%;line-height: 16px;" 
    >
    <!-- <input nbInput name="title" shape="rectangle"  style="margin-left: 2px;width: 98%;line-height: 16px;" placeholder="placeholder_title" status="success" type="text" class="employeenumber_2"> -->

    <!-- <nb-icon class="xiala" [icon]="xialaicon"></nb-icon> -->
    <i class="layui-icon layui-icon-down xiala" id="ele5_i" style="font-size: 12px;"></i>
    <div class="eleTree ele5" lay-filter="data5"></div>

</div>
