.col-lg-12{
    padding: 2px;
    img{
        width: 100%;
    }
    // 标题
    .title{
        margin: 20px 0px;
        text-align: center;
        background-color: #f1f1f1;
        h1{
            text-align: center;
        }
    }
}