
<nb-card>
    <nb-card-header style="font-size: small;">
        试验文件传输
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-6" style="display: flex;">

                <div class="example-items-rows button_item"  ngClass="button?.query?ngClass_show:ngClass_hide">
                    <div class="gongneng_keshi">
                        <ngx-file-breadcrumb #mybreadcrumb [current_path]="current_path" (breadcrumbClick)="onBreadcrumbClick($event)"></ngx-file-breadcrumb>
                    </div>
                </div>
            </div>

            <div class="col-lg-6" style="display: flex;">
                <div style="flex: auto;">
                </div>

                <!-- 新建文件夹-->
                <div class=" button_item my_import "  (click)="onCreateFolder()">
                    <button nbButton status="info" size="small"   ><nb-icon icon="folder-add-outline"></nb-icon>创建试验条目</button>
                </div>



                <!-- 上传按钮  [nzAccept]="nzFileType"-->
                <div class=" button_item my_import " >
                    <nz-upload nzAction="/api/v1/upload_file"
                    [nzShowUploadList]="false"
                    [nzMultiple]="true"
                    [nzFileList]="fileList"
                    (nzChange)="uploadStatus($event)"
                    [nzName]="nzName"
                    [nzCustomRequest]="customReq"
                    >

                      <button nbButton status="success" size="small" ><nb-icon icon="cloud-upload-outline"></nb-icon>上传文件</button>
                    </nz-upload>

                </div>

                <!-- 上传到MaDaM -->
                <div class=" button_item my_import " (click)="onSendToS3()">
                    <button nbButton status="success" size="small"   ><nb-icon icon="navigation-2-outline"></nb-icon>发送到s3</button>
                </div>

                <!-- 刷新table -->
                <div class="" style="text-align: right;">
                    <!-- loader-outline -->
                    <button nbButton [nbSpinner]="refresh" nbSpinnerStatus="success" size="small" (click)="refresh_table()">
                        <nb-icon icon="sync-outline"></nb-icon>
                    </button>


                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <ngx-ag-table #ag_Grid></ngx-ag-table>
            </div>
        </div>

<!--         <router-outlet></router-outlet> -->
    </nb-card-body>
</nb-card>
